/* @title Footer */
/* @help Footer section */
#footer {
    background: #AEBEAE;
    max-width:1140px;
    margin:0;
    font-size:12px;
    color:#000;
    padding:10px;
    border:1px solid #575655;
}

/* @title Footer Links */
/* @help Footer text URL */
#footer a {
    text-transform:capitalize;
    text-decoration:underline;
    color:#000;
}
/* @title Footer Link Hover */
/* @help Footer text URL hover */
#footer a:hover {
    color:#408140;
    text-decoration:none;
}

#footer_content {
    max-width:1140px;
    margin-left:auto;
    margin-right:auto;
}

#footer_logo {
    padding:12px;
    vertical-align:middle;
}

/* @title Footer Text */
/* @help Footer text */
#footer_text {
    text-align:right;
    color:#000;
    font-size:14px;
    padding:12px;
}
/* @title Footer Social Networks */
/* @help the social network icons located in the footer */
#footer_sn {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:10px;
    right:65px;
    display:none;
}
.scrollup:hover{
    opacity:1;
}
