#forum_success {
    background-color:#ccff99;
    color:#000;
    padding:6px;
    padding-left:12px;
    border-radius:5px;
    border:1px solid #ccc;
    margin:12px;
}

#forum_notice {
    background-color:#FC0;
    color:#000;
    padding:6px;
    padding-left:12px;
    border-radius:5px;
    border:1px solid #ccc;
    margin-bottom:6px;
}

.forum_post_image {
    display:table-cell;
    width:10%;
    padding:6px;
    vertical-align:top;
    text-align:center;
}
.forum_post_text {
    display:table-cell;
    width:90%;
    padding:6px 12px;
    vertical-align:top;
}

.forum_post_count {
    background:#FFFFFF;
    border: 1px solid #BFD5BF;
    float:right;
    font-size:14px;
    border-radius:4px;
    padding:3px 6px;
    margin-right:6px;
}
.forum_post_count_new {
    background-color:#BFD5BF;
    border: 1px dotted #575655;
}

.forum_post_count img {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}
.forum_post_pinned {
    border: 1px dotted;
}

.forum_new_post_form {
    font-size:16px;
}

.forum_actions {
    position:absolute;
    top:12px;
    right:12px;
    display:none;
}

.forum_locked {
    margin:12px 0;
    background-color:#FFCC00;
    border:1px dashed #575655;
    border-radius:4px;
    padding:12px
}

.forum_post_attachment {
    margin:20px 0;
    background-color:#AEBEAE;
    border:1px solid #575655;
    border-radius:4px;
    padding:6px
}

.forum_follow_box {
    position:inherit;
    width:260px;
    text-align:center;
    background-color:#AEBEAE;
    border:1px solid #575655;
    border-radius:5px;
    padding:12px;
    z-index:100;
    overflow:visible;
    box-shadow:0 0 2px #000;
}

/* BBCode */
.bbcode_url {
}

.bbcode_list_ul {
}

.bbcode_list_ol {
}

.bbcode_code {
    padding:12px;
    background-color:#fff;
    font-family:inherit;
    font-size:12px;
    clear:both;
    border:1px solid #CCC;
    text-transform:none;
}

.bbcode_quote {
    margin-top:6px;
    padding:12px;
    background-color:#EEE;
    font-size:14px;
    font-style:italic;
    border:1px solid #CCC;
}

.bbcode_quote_user {
    font-size:16px;
    font-weight:bold;
}

#bbcode_help_button input{
    padding-bottom: 6px !important;
    margin-top: 1px;
}

