.countdown-holding span {
    color: #FFF;
}

#poll_error {
    display:none;
    background-color:#990000 !important;
    padding:3px 6px;
    margin-top:6px;
    border-radius:0;
    font-size:12px;
    color:#FFF;
}

.poll_option_update {
    display:inline-block;
    width:99%;
    text-align:center;
    font-weight:bold;
}

.poll_status {
    float:right;
    position:relative;
    top:0;
    right:12px;
    margin-left:20px;
    cursor:pointer;
}

.poll_open {
    display:inline-block;
    text-align:center;
    background-color:#408140 !important;
    padding:3px 6px;
    margin:0;
    border-radius:0;
    font-size:12px;
    font-weight:bold;
    color:#FFF;
}

.poll_pending {
    display:inline-block;
    text-align:center;
    background-color:#BFD5BF !important;
    padding:3px 6px;
    margin:0;
    border-radius:0;
    font-size:12px;
    font-weight:bold;
}

.poll_closed {
    display:inline-block;
    text-align:center;
    background-color:transparent !important;
    padding:3px 6px;
    margin:0;
    border-radius:0;
    font-size:12px;
    font-weight:bold;
    color:#408140;
}

.poll_voted {
    display:inline-block;
    background-color:#408140 !important;
    padding:3px 6px;
    margin:0;
    border-radius:5px;
    font-size:12px;
    color:#FFF;
}

.poll_winner {
    background-color:transparent !important;
    border:2px solid #408140;
}

.poll_vote_count {
    font-weight:bold;
    font-size:12px;
}
