# Jamroom Apache .htaccess file
DirectoryIndex modules/jrCore/router.php

Options +FollowSymLinks
Options -MultiViews -Indexes

# Use ETags
<IfModule mod_headers.c>
Header unset ETag
FileETag None
# Expires for CSS, JS and Images
<FilesMatch ".(ico|jpg|jpeg|png|gif|js|css|swf)$">
Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
</FilesMatch>
<FilesMatch ".(eot|ttf|otf|woff)">
Header set Access-Control-Allow-Origin "*"
</FilesMatch>
</IfModule>

# Compress everything we can
<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript text/javascript-x application/javascript
</IfModule>

# All requests through the router
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^modules/.*\.tpl$ - [F,L,NC]
RewriteRule ^skins/.*\.tpl$ - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ modules/jrCore/router.php?_uri=$1 [NC,L]
</IfModule>
