/* @title List Row */
/* @help The List Row is the row section for ranking lists */
.list_row, .list_col {
    padding:6px;
    background-color:#ccc;
    color:#000;
}

/* @title List Image */
/* @help The List Image is for the images in the ranking list */
.list_image {
    padding:6px;
    background-color:#ccc;
    color:#000;
}
/* @title List Highlight */
/* @help The List Highlight is for the highlighted text in a ranking list */
.list_hl {
    background-color:#fc0;
    color:#000;
}

/* @title List Item */
/* @help The List Item class is for the content in a  ranking list */
.item {
    background-color:#000408;
    padding:6px;
    margin:6px;
    color:#FFF;
}
/* @title List Item Link */
/* @help The List Item Link is for the URL links in a  ranking list */
.item a {
    color:#C60;
    text-decoration: none;
}
/* @title List Item Link Hover */
/* @help The List Item Link Hover is for the URL links hover effect in a  ranking list */
.item a:hover {
    color:#CCC;
    text-decoration: underline;
}

/* @title Blogpost Link Color */
/* @help The color for links users include in their blog posts */
.blogpost p a {
    color:#C60;
    text-decoration: underline;
}
.action_item_holder {
    border-bottom:1px solid #00324B;
}
.add_to_cart_section {
    display:inline-block;
    background-color:#069;
    border:1px solid #349ED8;
    border-radius:10px;
    box-shadow:inset 0 0 1px 1px #015788;
}
.add_to_cart_price {
    position:relative;
    top:1px;
    left:2px;
    padding:0 10px;
    padding-top:4px;
    color:#FFF;
    font-size:10px;
    line-height:14px;
}
.add_to_cart_icon {
    margin:0;
    padding:0;
    cursor:pointer;
}

.cart-section {
    display: inline-block;
    background: #069;
    border-radius: 12px;
    border:1px solid #349ED8;
}

.cart-price {
    position: relative;
    top: 1px;
    left: 2px;
    padding: 0 10px;
    padding-top: 3px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
}

.strikethrough{
    color: #9C0;
    text-decoration: line-through;
}
.border-1{
    border:1px solid black;
}
.p5{
    padding:5px;
}
.body-1{
    background-color: #000;
}

span.jp-artist {
    color:#9C0 !important;
}

div.jp-playlist a {
    color:#C60 !important;
    font-size: 12px;
}

div.jp-playlist a:hover {
    color:#CCC !important;
    text-decoration:underline !important;
}
