/* Mobile */
@media handheld, only screen and (max-width: 1023px) {

    body {
        width:100%;
        min-width:0;
        margin:0;
        padding:0;
        font-size: 16px;
        -webkit-text-size-adjust: none;
    }
    h1 {
        font-size:14px;
        font-weight:bold;
    }
    h2 {
        font-size:14px;
    }

    #wrapper {
        margin:10px;
    }

    #header {
        margin:0;
        padding:10px;
    }
    #main_logo {
        text-align:center;
        padding-bottom:0;
    }
    .logo-ads {
        display: none;
    }

    .mobile-ads {
        display: block;
        max-width: 468px;
        max-height: 60px;
        margin: 0 auto;
    }

    .jlogo {
        margin-top:0;
    }
    .body_1{
        margin-right:0;
    }

    #footer {
        margin-top:0;
    }
    #footer_logo img {
        display:none;
    }
    #footer_text {
        padding:0 12px;
        font-size:11px;
        text-align:left;
    }

    #mmt {
        background-color: transparent;
        position: relative;
        float: left;
        width: 28px;
        height: 28px;
        top: 6px;
        left: 6px;
        z-index: 50;
    }

    #main_menu {
        padding:6px;
        text-align:center;
        font-size:14px;
    }

    .row, .container {
        width:100%;
	    min-width:0;
        margin:0;
	    padding:0;
    }

    .row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {
	    width:auto;
	    float:none;
	    margin-left:0;
	    margin-right:0;
	    padding-left:0;
	    padding-right:0;
    }

    .block {
        font-size:12px;
    }

    #item-list {
        background:transparent;
        height:86px;
        overflow: auto;
        overflow-y:scroll;
    }
    .tab-bar {
        padding-left:2px;
    }
    .tab {
        background:#000;
        float:left;
        list-style:none;
        margin:0;
        font-size:18px;
        color:#fff;
        text-decoration:none;
        text-transform:capitalize;
        padding:6px;
        text-align:left;
        cursor:pointer;
        -webkit-border-radius:0 0 0 0;
        -moz-border-radius:0 0 0 0;
        border-radius:0 0 0 0;
    }
    .tab-active {
        color:#fff;
        border:0;
    }
    #item-holder {
        margin-right:0;
    }

    .page_content {
        width:100%;
        margin:0 auto;
    }

    .page_banner_box {
        background-color:transparent;
    }
    .page_banner {
        margin-bottom:6px;
    }

    /* @title Page Banner Icon */
    /* @help The Page Banner Icon section is the small section at the top of pages where the module icon appears */
    .page_banner_icon {
        padding:0;
        margin:0;
    }
    .page_banner_icon img {
        display:none;
    }

    .page_banner_left {
        text-align:left;
        background-color:#00324B;
        padding:3px 9px;
        font-size:12px;
        font-weight:bold;
        text-transform:capitalize;
        white-space:nowrap;
    }

    .page_banner_right {
        background-color:#00324B;
        padding:6px 12px;
        text-align:right;
    }

    .page_table_header {
        font-size:8px;
    }
    .page_table_cell {
        padding:2px;
        font-size:8px;
    }
    .nowrap {
        white-space:normal;
    }

    .element_left {
        padding:3px;
        font-size:11px;
    }
    .element_right {
        font-size:10px;
        padding:3px;
    }

    .profile_image_element_right img {
        width:190px;
        text-align: center;
    }

    .profile_menu_entry {
        display:block;
        width:90%;
        padding:8px;
        margin-right:auto;
        margin-bottom:3px;
        margin-left:auto;
    }
    #profile_select_menu, #profile_select_menu:focus {
        margin: 12px 12px 6px 12px;
        width: 90%;
        padding: 3px;
        font-size: 18px;
        color: #000000;
        text-transform: capitalize;
    }
    .profile_actions {
        float:left;
    }

    .form_button {
        font:bold 10px Verdana,sans-serif;
        padding:6px;
        margin:0;
    }

    .form_select_item_jumper {
        width:50%;
    }

    .upload_button {
        font:bold 10px Verdana,sans-serif;
        height:20px;
        padding:6px 6px 0 6px;
        margin:0;
    }

    .create_img {
        height:16px;
        width:16px;
    }
    .update_img {
        height:16px;
        width:16px;
    }
    .delete_img {
        height:16px;
        width:16px;
    }
    .download_img {
        height:16px;
        width:16px;
    }

    /* Tab Bar */
    .page_tab_bar_holder {
        width:100%;
        background:transparent;
        border-bottom:0;
    }
    .page_tab_bar_spacer {
        height:0;
        background-color:transparent;
    }
    .page_tab_bar {
        padding-left:0;
    }
    .page_tab {
        background:#333;
        float:left;
        list-style:none;
        margin:6px 6px 6px 0;
        color:#CCC;
        text-transform:capitalize;
        font:14px Verdana,sans-serif;
        padding:3px;
        text-align:center;
        border:2px solid #000;
    }
    .page_tab a {
        color:#FFF;
        text-decoration:none;
    }
    .page_tab_first {
        margin-left:0;
    }
    .page_tab_last {
        background:#333;
        color:#FFF;
    }
    .page_tab_active {
        background:#069;
        color:#FFF;
        border:2px solid #000;
    }
    .page_tab_active a {
        color:#FFF;
    }

    .info_img {
        display:none;
    }

    .gallery_img {
        width:100%;
    }

    .item {
        padding:6px;
        width:95%;
        font:14px Verdana,sans-serif;
        margin:0 auto;
    }

    #action_update {
        width:95%;
    }
    .action_item_holder {
        text-align:left;
        display:inline-block;
    }

    .action_item {
        width:100%;
        font-size:11px;
        overflow:auto;
        clear:both;
    }

    .action_item_date {
        clear:both;
        float:none;
        text-align:left;
        font-size:8px;
        font-style:italic;
        margin:6px 0 0 0;
    }

    .action_item_user_img {
        margin:0 9px 0 0;
        width:32px;
        height:32px;
    }

    .action_media_thumb {
        display:inline-block;
    }
    .action_media_thumb img {
        display:inline-block;
        width:32px;
        height:32px;
    }

    .left {
        font-size:10px;
    }
    .right {
        font-size:10px;
    }

    .form_text_search {
        width:33%;
    }

    .ds_browser_key {
        width:auto;
    }

    #ds_browser_new_key {
        width:80px;
    }
    .title {
        font-size:0.56em;
    }
    /* Image Slider CSS */
    h1 {
        font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .callbacks_nav {
        top: 47%;
    }
    /* Scroll Up Icon */
    .scrollup{
        bottom:10px;
        right:10px;
    }
}

@media handheld, only screen and (max-width: 767px) {
    .element_left {
        display: none;
    }
    .element_right {
        font-size: 10px;
        padding: 0 0 20px;
    }
    .form_help_button {
        top: 12px;
        right: 0;
        padding: 4px 0;
        width: 24px;
        text-align: center;
    }
    #content .form_text {
        width: 83%;
    }
    #content .form_select {
        width: 86%;
    }
    .form_text.form_text_search {
        margin-bottom: 10px;
    }
    #error_log {
        width: 90vw;
    }
    .col4.last > .box {
        margin: 0 0 0 0;
    }
    .form_select_and_text_tag {
        display: none;
    }
    .form_select_and_text_select {
        margin-bottom: 10px;
    }
    .form_time {
        margin: 2px;
    }
    .form_date {
        width: 83%;
        margin-bottom: 10px !important;
    }

    .page_content .form_textarea {
        width: 83.5%;
    }
    .menu_pad {
        padding: 0 1em;
    }

    .form_label {
        display: block;
        padding: 2px;
        text-transform: capitalize;
    }
    .form_editor_holder {
        width: 308px;
        padding-right: 2px;
        overflow: hidden;
    }
}