.market_status_section {
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: #EEEEEE;
    border-radius: 3px;
    margin: 6px 0 0 0;
    text-align: center;
    color: #000000;
}

.market_status_section_stable {
    background: #CCFF99;
}

.market_status_section_beta {
    background: #FFDD00;
}

.market_status_section_text {
    text-transform: uppercase;
    position: relative;
    left: 2px;
    padding: 0 16px;
    color: #000000;
    font-size: 12px;
}

.changelog {
    width: 100%;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.market_jumper {
    width: 250px !important;
}

.market-description {
    font-size: 12px;
}

.market-version {
    height: 14px !important;
    padding: 2px 5px 0 5px;
    font-size: 10px;
    margin-bottom: 6px;
    white-space: nowrap;
}

.market-requires {
    font-size: 11px;
}

.changelog_div {
    background-color: #FFFFFF;
    font-family: monospace;
    white-space: pre-wrap
}
