#error_log {
    background-color:#FFF;
    font-family:Monaco, "Lucida Console", monospace;
    width:98%;
    padding:6px;
    margin:10px auto;
    font-size:10px;
    white-space:pre-line;
    color:#222;
}

#debug_log {
    background-color:#FFF;
    font-family:Monaco, "Lucida Console", monospace;
    width:98%;
    padding:6px;
    margin:10px auto;
    font-size:10px;
    white-space:pre-line;
    color:#222;
}

/* @title Info Log */
/* @help The Activity Log Information section */
.log-inf {
    background-color:transparent;
    text-align:left;
}
/* @title Minor Log */
/* @help The Activity Log Minor section */
.log-min {
    background-color:#9C0;
    text-align:left;
    color:#000;
}
/* @title Major Log */
/* @help The Activity Log Major section */
.log-maj {
    background-color:#F90;
    text-align:left;
    color:#000;
}
/* @title Critical Log */
/* @help The Activity Log Critical section */
.log-cri {
    background-color:#900;
    text-align:left;
    color:#FFF;
}

.php_Notice {
}
.php_Warning {
    color:#F60;
}
.php_Fatal, .php_Parse {
    color:#BA4B0D;
}

.CodeMirror {
    background-color:#FFF;
    color:#000;
    width:98%;
    padding:0;
    margin:8px auto 0 auto;
    font-size:12px;
    border:solid 1px #7f7f7f;
    overflow:auto;
}
