/* @title block */
/* @help This is the main style for the individual blocks of the page */
.block {
    background-color:transparent;
    padding:5px;
    margin:5px;
    font-size:10px;
}

/* @title block urls */
/* @help What color should URLs be within a block? */
.block a {
    color:#105CBF;
}
/* @title block urls */
/* @help What color should URLs be within a block? */
.block a:hover {
    color:#FC0;
    text-decoration:none;
}

/* @title Config Block */
/* @help The set of buttons that float to the right, ie. create, delete and modify. */
.block_config {
    min-width:240px;
    text-align:right;
    float:right;
    margin-top:5px;
}

/* @title Image Block */
/* @help The DIV that holds a list image. */
.block_image {
    padding:5px;
    margin:0 auto;
}

/* @title Content Block */
/* @help The DIV that holds a lists content. */
.block_content {
    background-color:#F0F0F0;
    padding:0;
    margin:0;
}

/* @title Title */
/* @help This is the Title text */
.title {
    background-color:transparent;
    vertical-align:middle;
    font-weight:bold;
    text-transform:capitalize;
    color:#222;
    padding:6px 12px;
}

/* @title Info Text */
/* @help Styling for info labels. ie. Albums, Genre, Plays etc. */
.info {
    font-size:12px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
    color:#222;
    font-weight:bold;
}
/* @title Info Text Link */
/* @help This is the Info link text */
.info a {
    text-decoration:none;
    color:#105CBF;
}
/* @title Info Link Hover */
/* @help This is the Info link hover text */
.info a:hover {
    color:#BA4B0D;
    text-decoration:underline;
}

/* @title Date Text */
/* @help Any date text in your lists. ie. blogs, events etc. */
.info_c {
    font-size:10px;
    font-weight:bold;
    color:#096;
}

/* @title Date Link Text */
/* @help Any date text in your lists. ie. blogs, events etc. */
.info_c a {
    color:#BA4B0D;
    text-decoration:none;
}

/* @title Date Text */
/* @help Any date text in your lists. ie. blogs, events etc. */
.info_c a:hover {
    color:#222;
    text-decoration:underline;
}
