.form_button {
    color:#FFF;
    text-decoration:none;
    text-transform:capitalize;
    font:bold 12px Verdana,sans-serif;
    padding:5px;
    margin: 1px 5px 3px 5px; /* @ignore */
    background:#920B0C;
    border:0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    cursor:pointer;
}
.form_button:hover {
    border:0;
    background:#252525;
    color:#CCC;
}
.form_button_disabled {
    background:#252525;
    color:#999;
    border:0;
}
.form_button_disabled:hover {
    background:#252525;
    color:#999;
    border:0;
}
.form_button a, .form_button_anchor a, .form_button_anchor:hover a {
    text-decoration:none;
}
.form_button:focus {
    border:0;
    background-color: #252525;
    color:#999;
}

.upload_button {
    margin:2px 3px 0 0 !important;
    min-height: initial;
}

.follow_button {
    color:#FFF;
    text-decoration:none;
    text-transform:capitalize;
    font-weight:bold;
    font-size:12px;
    height:32px;
    padding:0 12px;
    margin:0 2px;
    border-radius:4px;
    vertical-align:middle;
    border:0;
}
.follow_button:hover {
    background:#252525;
    color:#999;
}
.follow {
    cursor:pointer;
    background:#920B0C;
}
.following {
    cursor:pointer;
    background:#252525;
}
.follow_pending {
    background:#FF9900;
    color:#000000;
}
#follow_indicator {
    display:none;
}
.sprite_icon {
    display:inline-block;
    border:0;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#920B0C', endColorstr='#920B0C'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#920B0C), to(#920B0C)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #920B0C,  #920B0C); /* for firefox 3.6+ */
    border-radius:6px;
    cursor:pointer;
    margin:0;
    vertical-align:middle;
}
.sprite_icon:hover {
    border:0;
    box-shadow:inset 0 0 1px 1px #000000;
}
.sprite_icon_hilighted {
    background: #606060;
}
