/*
 * jrAudio Gray Overlay Player skin
 */

.audio_container {
    overflow: hidden;
}

.jr_audio_gray_overlay_player div.jp-audio,
.jr_audio_gray_overlay_player div.jp-video {
    font-size: 1.25em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
    color: #666666;
    border: 0 solid #747474;
    background-color: transparent;
    position: relative;
}

.jr_audio_gray_overlay_player div.jp-audio {
    width: 100%;
}

.jr_audio_gray_overlay_player div.jp-video-270p {
    width: 100%;
}

.jr_audio_gray_overlay_player div.jp-video-360p {
    width: 100%;
}

.jr_audio_gray_overlay_player div.jp-video-full {
    /* Rules for IE6 (full-screen) */
    width: 100%;
    height: 270px;
    /* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
    position: static !important;
}

.jr_audio_gray_overlay_player div.jp-video-full div.jp-jplayer {
    top: 0;
    left: 0;
    position: fixed !important;
    overflow: hidden;
    z-index: 1000;
}

.jr_audio_gray_overlay_player div.jp-video-full div.jp-gui {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.jr_audio_gray_overlay_player div.jp-video-full div.jp-interface {
    position: absolute !important;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.jr_audio_gray_overlay_player div.jp-interface {
    position: relative;
    background: #CACACA;
    background: -moz-linear-gradient(#F1F1F1, #CACACA);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#CACACA));
    background: -webkit-linear-gradient(#F1F1F1, #CACACA);
    background: -o-linear-gradient(#F1F1F1, #CACACA);
    background: -ms-linear-gradient(#F1F1F1, #CACACA);
    background: linear-gradient(#F1F1F1, #CACACA);
    width: 100%;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-single div.jp-interface {
    height: 80px;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-playlist div.jp-interface {
    height: 80px;
}

.jr_audio_gray_overlay_player div.jp-video div.jp-interface {
    height: 42px;
}

/* @group CONTROLS */

.jr_audio_gray_overlay_player div.jp-controls-holder {
    clear: both;
    padding-top: 10px;
    margin: 0 auto;
    position: static;
    overflow: hidden;
    top: 0; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

.jr_audio_gray_overlay_player div.jp-interface ul.jp-controls {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    overflow: hidden;
}

.jr_audio_gray_overlay_player div.jp-audio ul.jp-controls {
    width: 380px;
    padding: 25px 20px 0 20px;
}

.jr_audio_gray_overlay_player div.jp-video div.jp-type-single ul.jp-controls {
    width: 78px;
    margin-left: 200px;
}

.jr_audio_gray_overlay_player div.jp-video div.jp-type-playlist ul.jp-controls {
    width: 25px;
    margin-left: 15px;
}

.jr_audio_gray_overlay_player div.jp-video ul.jp-controls,
.jr_audio_gray_overlay_player div.jp-interface ul.jp-controls li {
    display: inline;
    float: left;
}

.jr_audio_gray_overlay_player div.jp-interface ul.jp-controls a {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

.jr_audio_gray_overlay_player a.jp-play,
.jr_audio_gray_overlay_player a.jp-pause {
    width: 16px;
    height: 16px;
}

.jr_audio_gray_overlay_player a.jp-play {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-play:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -17px 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-pause {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -34px 0 no-repeat;
    display: none;
}

.jr_audio_gray_overlay_player a.jp-pause:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -51px 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-stop,
.jr_audio_gray_overlay_player a.jp-previous,
.jr_audio_gray_overlay_player a.jp-next {
    width: 16px;
    height: 16px;
}

.jr_audio_gray_overlay_player a.jp-stop {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -136px 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-stop:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -153px 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-previous {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -68px 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-previous:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -85px 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-next {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -102px 0 no-repeat;
}

.jr_audio_gray_overlay_player a.jp-next:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -119px 0 no-repeat;
}

/* @end */

/* Right contol box*/
.jr_audio_gray_overlay_player .jp-right-controls {
    float: right;
    margin-right: 15px;
}

/* @end */

/* @group progress bar */

.jr_audio_gray_overlay_player div.jp-progress {
    overflow: hidden;
    background-color: #999999;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .4);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .4);
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-progress {
    position: absolute;
    top: 32px;
    height: 12px;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-single div.jp-progress {
    left: 110px;
    width: 186px;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-playlist div.jp-progress {
    left: 166px;
    width: 130px;
}

.jr_audio_gray_overlay_player div.jp-video div.jp-progress {
    float: left;
    width: 100%;
    height: 5px;
    margin-right: 8px;
    margin-top: 1px;
}

.jr_audio_gray_overlay_player div.jp-seek-bar {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 -53px repeat-x;
    width: 0;
    height: 100%;
    cursor: pointer;
}

.jr_audio_gray_overlay_player div.jp-play-bar {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 -70px repeat-x;
    width: 0;
    height: 100%;
}

/* The seeking class is added/removed inside jPlayer */
.jr_audio_gray_overlay_player div.jp-seeking-bg {
    background: url("{$jrAudio_img_url}/jplayer.blue.monday.seeking.gif");
}

/* @end */

/* @group volume controls */

.jr_audio_gray_overlay_player a.jp-mute,
.jr_audio_gray_overlay_player a.jp-unmute,
.jr_audio_gray_overlay_player a.jp-volume-max {
    width: 16px;
    height: 16px;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-single a.jp-mute,
.jr_audio_gray_overlay_player div.jp-audio div.jp-type-single a.jp-unmute {
    margin-left: 210px;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-playlist a.jp-mute,
.jr_audio_gray_overlay_player div.jp-audio div.jp-type-playlist a.jp-unmute {
    margin-left: 154px;
}

.jr_audio_gray_overlay_player div.jp-audio a.jp-volume-max {
    margin-left: 56px;
}

.jr_audio_gray_overlay_player div.jp-video a.jp-mute,
.jr_audio_gray_overlay_player div.jp-video a.jp-unmute,
.jr_audio_gray_overlay_player div.jp-video a.jp-volume-max {
    float: left;
    margin-top: 0;
}

.jr_audio_gray_overlay_player div.jp-video a.jp-mute,
.jr_audio_gray_overlay_player div.jp-video a.jp-unmute {
    left: 50px;
}

.jr_audio_gray_overlay_player div.jp-video a.jp-volume-max {
    left: 125px;
}

.jr_audio_gray_overlay_player a.jp-mute {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 -17px no-repeat;
}

.jr_audio_gray_overlay_player a.jp-mute:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -17px -17px no-repeat;
}

.jr_audio_gray_overlay_player a.jp-unmute {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -68px -17px no-repeat;
    display: none;
}

.jr_audio_gray_overlay_player a.jp-unmute:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -85px -17px no-repeat;
}

.jr_audio_gray_overlay_player a.jp-volume-max {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 -17px no-repeat;
}

.jr_audio_gray_overlay_player a.jp-volume-max:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -17px -17px no-repeat;
}

.jr_audio_gray_overlay_player div.jp-volume-bar {
    position: static;
    overflow: hidden;
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 -90px repeat-x;
    width: 70px;
    height: 6px;
    cursor: pointer;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-volume-bar {
    top: 37px;
    left: 330px;
}

.jr_audio_gray_overlay_player div.jp-video div.jp-volume-bar {
    float: left;
    margin-top: 5px;
}

.jr_audio_gray_overlay_player div.jp-volume-bar-value {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 -107px repeat-x;
    width: 0;
    height: 6px;
}

/* @end */

/* @group current time and duration */

.jr_audio_gray_overlay_player div.jp-audio div.jp-time-holder {
    position: absolute;
    top: 50px;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-single div.jp-time-holder {
    left: 110px;
    width: 186px;
}

.jr_audio_gray_overlay_player div.jp-audio div.jp-type-playlist div.jp-time-holder {
    left: 166px;
    width: 130px;
}

.jr_audio_gray_overlay_player div.jp-current-time,
.jr_audio_gray_overlay_player div.jp-duration {
    width: 30px;
    font-size: .64em;
    font-style: oblique;
    margin-top: -1px;
}

.jr_audio_gray_overlay_player div.jp-current-time {
    float: left;
    display: inline;
}

.jr_audio_gray_overlay_player div.jp-duration {
    float: left;
    display: inline;
    text-align: right;
}

.jr_audio_gray_overlay_player div.jp-video div.jp-current-time {
    margin-left: 10px;
}

div.jp-video div.jp-duration {
    margin-right: 8px;
}

/* @end */

/* @group playlist */

.jr_audio_gray_overlay_player div.jp-title {
    position: absolute;
    font-weight: bold;
    text-align: center;
    background: #D2D2D2;
    background: -moz-linear-gradient(#D2D2D2, #F1F1F1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#F1F1F1));
    background: -webkit-linear-gradient(#D2D2D2, #F1F1F1);
    background: -o-linear-gradient(#D2D2D2, #F1F1F1);
    background: -ms-linear-gradient(#D2D2D2, #F1F1F1);
    background: linear-gradient(#D2D2D2, #F1F1F1);
    padding: 10px;
    bottom: 38px;
}

.jr_audio_gray_overlay_player div.jp-title,
.jr_audio_gray_overlay_player div.jp-playlist {
    width: 100%;
    background-color: transparent;
    border-top: 0 solid #CCCCCC;
}

.jr_audio_gray_overlay_player div.jp-type-single div.jp-title,
.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-title,
.jr_audio_gray_overlay_player div.jp-type-single div.jp-playlist {
    border-top: none;
}

.jr_audio_gray_overlay_player div.jp-title ul,
.jr_audio_gray_overlay_player div.jp-playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    font-size: .72em;
}

.jr_audio_gray_overlay_player div.jp-title li {
    padding: 5px 0;
    font-weight: bold;
}

.jr_audio_gray_overlay_player div.jp-playlist li {
    padding: 5px 0 4px 20px;
    border-bottom: 1px solid #EEEEEE;
}

.jr_audio_gray_overlay_player div.jp-playlist li div {
    display: inline;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist li:last-child {
    padding: 5px 0 5px 20px;
    border-bottom: none;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 7px;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist a {
    color: #333333;
    text-decoration: none;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist a:hover {
    color: #666666;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
    font-weight: bold;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
    float: right;
    display: inline;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    color: #666666;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
    color: #666666;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist span.jp-free-media {
    float: right;
    display: inline;
    text-align: right;
    margin-right: 10px;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist span.jp-free-media a {
    color: #666666;
}

.jr_audio_gray_overlay_player div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover {
    color: #333333;
}

.jr_audio_gray_overlay_player span.jp-artist {
    font-size: .8em;
    color: #666666;
}

.jr_audio_gray_overlay_player span.jp-album {
    font-size: .8em;
    color: #666666;
    font-style: italic;
}

/* @end */

.jr_audio_gray_overlay_player div.jp-video-play {
    width: 100%;
    overflow: hidden; /* Important for nested negative margins to work in modern browsers */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}

.jr_audio_gray_overlay_player div.jp-video-270p div.jp-video-play {
    margin-top: -270px;
    height: 270px;
}

.jr_audio_gray_overlay_player div.jp-video-360p div.jp-video-play {
    margin-top: -360px;
    height: 360px;
}

.jr_audio_gray_overlay_player div.jp-video-full div.jp-video-play {
    height: 100%;
}

.jr_audio_gray_overlay_player a.jp-video-play-icon {
    position: relative;
    display: block;
    width: 112px;
    height: 100px;

    margin-left: -56px;
    margin-top: -50px;
    left: 50%;
    top: 20%;

    text-indent: -9999px;
}

.jr_audio_gray_overlay_player div.jp-video-play:hover a.jp-video-play-icon {
}

.jr_audio_gray_overlay_player div.jp-jplayer audio,
.jr_audio_gray_overlay_player div.jp-jplayer {
    width: 0;
    height: 0;
}

.jr_audio_gray_overlay_player div.jp-jplayer {
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
}

/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

.jr_audio_gray_overlay_player ul.jp-toggles {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.jr_audio_gray_overlay_player div.jp-audio .jp-type-single ul.jp-toggles {
    width: 25px;
}

.jr_audio_gray_overlay_player div.jp-audio .jp-type-playlist ul.jp-toggles {
    width: 100px;
    margin: 0;
    position: absolute;
    left: 325px;
    top: 100px;
}

.jr_audio_gray_overlay_player div.jp-video ul.jp-toggles {
}

.jr_audio_gray_overlay_player ul.jp-toggles li {
    display: block;
    float: right;
}

.jr_audio_gray_overlay_player ul.jp-toggles li a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    line-height: 100%; /* need this for IE6 */
}

.jr_audio_gray_overlay_player a.jp-full-screen {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -68px -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-full-screen:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -85px -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-restore-screen {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -102px -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-restore-screen:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -119px -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-repeat {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") 0 -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-repeat:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -17px -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-repeat-off {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -34px -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-repeat-off:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -51px -34px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-shuffle {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -102px -17px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-shuffle:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -119px -17px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-shuffle-off {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -136px -17px no-repeat;
    margin-left: 10px;
}

.jr_audio_gray_overlay_player a.jp-shuffle-off:hover {
    background: url("{$jrAudio_img_url}/jr_player_gray_overlay.png") -153px -17px no-repeat;
    margin-left: 10px;
}

/* @end */

/* @group NO SOLUTION error feedback */

.jr_audio_gray_overlay_player .jp-no-solution {
    position: absolute;
    width: 95%;
    left: 0;
    top: 10px;
    padding: 5px;
    font-size: .8em;
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    color: #000000;
    display: none;
}

.jr_audio_gray_overlay_player .jp-no-solution a {
    color: #000000;
}

.jr_audio_gray_overlay_player .jp-no-solution span {
    font-size: 1em;
    display: block;
    text-align: center;
    font-weight: bold;
}

/* Mobile */
@media handheld, only screen and (max-width: 801px) {

    .video_container {
        height: auto;
        padding: 0;
        margin: 0;
    }

    .jr_audio_gray_overlay_player div.jp-controls-holder {
        top: -2px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
    }

    .jr_audio_gray_overlay_player div.jp-audio ul.jp-controls {
        width: 100px;
        margin: 0 auto;
        padding: 20px 20px 0 20px;
    }

    .jr_audio_gray_overlay_player div.jp-video div.jp-type-single ul.jp-controls {
        width: 78px;
        margin-left: 20px;
    }

    .jr_audio_gray_overlay_player div.jp-video div.jp-type-playlist ul.jp-controls {
        max-width: 200px;
        margin-left: 17px;
    }

    .jr_audio_gray_overlay_player div.jp-audio div.jp-time-holder {
        position: absolute;
        top: 40px;
    }

    .jr_audio_gray_overlay_player div.jp-audio div.jp-type-single div.jp-time-holder {
        left: 110px;
        width: 86px;
    }

    .jr_audio_gray_overlay_player div.jp-audio div.jp-type-playlist div.jp-time-holder {
        left: 66px;
        width: 130px;
    }

    .jr_audio_gray_overlay_player div.jp-current-time,
    .jr_audio_gray_overlay_player div.jp-duration {
        width: 60px;
        font-size: .64em;
        font-style: oblique;
    }

    .jr_audio_gray_overlay_player div.jp-current-time {
        float: left;
        display: inline;
    }

    .jr_audio_gray_overlay_player div.jp-duration {
        display: inline;
        text-align: right;
    }

    .jr_audio_gray_overlay_player div.jp-video div.jp-current-time {
        margin-left: 20px;
    }

    .jr_audio_gray_overlay_player div.jp-video div.jp-duration {
        float: right;
        margin-right: 20px;
    }

    .jr_audio_gray_overlay_player div.jp-video ul.jp-toggles {
        padding-bottom: 15px;
    }

    .jr_audio_gray_overlay_player div.jp-volume-bar {
        display: none;
        visibility: hidden;
    }

    .jr_audio_gray_overlay_player div.jp-video a.jp-mute,
    .jr_audio_gray_overlay_player div.jp-video a.jp-unmute {
        display: none;
        visibility: hidden;
    }

    .jr_audio_gray_overlay_player div.jp-video a.jp-volume-max {
        display: none;
        visibility: hidden;
    }

    .jr_audio_gray_overlay_player div.jp-video div.jp-progress {
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
    }

    .jr_audio_gray_overlay_player div.jp-video div.jp-interface {
        height: auto;
    }
}

/* @end */
