/*
 * Jamroom 5 Sage CSS
 * Copyright 2003-2011 by Talldude Networks, LLC.
 * @author Brian Johnson - brian@talldude.net
 */

.separator{
    background:transparent url("{$jrSage_img_url}/div.png") center no-repeat;
    text-align:center;
    height:16px;
    width:16px;
    display:inline;
}

.divider{
    height:0;
    border:0;
    border-top:solid 1px #408140;
}

/* @title Rank */
/* @help This is the ranking number */
.rank {
    background:#FFF;
    padding:5px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    color:#333;
    text-transform:uppercase;
}

/* @title Normal */
/* @help This is the regular body text */
.normal {
	font-size:12px;
    color:#000;
}
.normal a {
    color:#408140;
    text-decoration:none;
}
.normal a:hover {
    text-decoration:underline;
}
/* @title Hilited */
/* @help This is the hilite text */
.hilite {
	font-size:12px;
	font-weight:bold;
    color:#408140;
}
/* @title Hilited 2 */
/* @help This is the second hilite text */
.hilite_2 {
    font-size:12px;
    font-weight:bold;
    color:#408140;
}
/* @title Title */
/* @help This is the Title text */
/* @title Media Title */
/* @help This is the Media Title text. */
.media_title {
    font-size:12px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
    color:#000;
    font-weight:bold;
}
/* @title Media Title Link */
/* @help This is the Media Title link text */
.media_title a {
    text-decoration:none;
    color:#408140;
}
/* @title Media Title Hover */
/* @help This is the Media Title hover text */
.media_title a:hover {
    text-decoration:underline;
}
/* @title Sub Title */
/* @help This is the Sub Title text. */
.sub_title {
    padding:0 0 0 5px;
    vertical-align:middle;
    line-height:24px;
    font-size:10px;
    font-weight:bold;
    text-transform:capitalize;
}
/* @title Sub Title Link */
/* @help This is the Sub Title link text */
.sub_title a {
    text-decoration:none;
    color:#408140;
}
/* @title Media Title Hover */
/* @help This is the Media Title hover text */
.sub_title a:hover {
    text-decoration:underline;
}
/* @title Alphabet Text */
/* @help This is the Alphabet text when searching by letters. */
.alpha_title {
    background-color: #FFF;
    padding:0 0 0 5px;
    margin: 0;
    vertical-align:middle;
    line-height:24px;
    font-size:12px;
    font-weight:bold;
    text-transform:capitalize;
    border-bottom: 1px solid #408140;
}
/* @title Sub Title Link */
/* @help This is the Sub Title link text */
.alpha_title a {
    text-decoration:none;
    color:#408140;
}
/* @title Media Title Hover */
/* @help This is the Media Title hover text */
.alpha_title a:hover {
    text-decoration:underline;
}
/* Tag Cloud fonts */

div.jqcloud {
    font-family: inherit;
    font-size: 10px;
    line-height: normal;
}

div.jqcloud a {
    font-size: inherit;
    text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* Tag Cloud colors */

div.jqcloud { color: #ebffd3; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { text-decoration:underline; }
div.jqcloud a:hover { color: inherit; }
div.jqcloud span.w10 { color: #00ff00; }
div.jqcloud span.w9 { color: #00ff00; }
div.jqcloud span.w8 { color: #00ff00; }
div.jqcloud span.w7 { color: #408140; }
div.jqcloud span.w6 { color: #50cd50; }
div.jqcloud span.w5 { color: #51dd51; }
div.jqcloud span.w4 { color: #5cff5c; }
div.jqcloud span.w3 { color: #4dbd4d; }
div.jqcloud span.w2 { color: #429b42; }
div.jqcloud span.w1 { color: #46a846; }

.tag_name_box {
    float:left;
    background-color:#DDD;
    border-width:0;
    border-color:#999999;
    border-style:solid;
    border-radius:0;
    padding:3px 9px;
    margin:6px 6px 0 0;
    font-size:12px;
    text-transform:uppercase;
}
.tag_name_box a {
    color:#000;
    text-decoration:none;
}
.tag_name_box a:hover {
    color:#FFF;
    text-decoration:none;
}
.tag_name_box:hover {
    background-color:#408140;
    color:#FFF;
}
#tag_cloud {
    background-color: #CCC;
    color:#000;
    border:1px solid #999;
    border-radius:0;
}
#tag_cloud:hover {
    background-color: #FFF;
    color:#408140;
}
