/* @title Header */
/* @help This is the main header section for the site */

#header {
    background-color: #080808;
    box-shadow: 0 2px 5px #000;
    color: #ffffff;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 200;
}

/* @title Header Links */
/* @help Header text URL */
#header a {
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}

/* @title Header Link Hover */
/* @help Header text URL hover */
#header a:hover {

}

#header_content {
    height: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#main_logo {
    float: left;
    vertical-align: middle;

    cursor: pointer;
}

/* @title Main Menu */
/* @help Main Menu */
#main_menu {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 16px;
    padding-right: 12px;
}

#add_to_cart_success {
    float: left;
    position: absolute;
    margin: 0 auto;
    background-color: #FFCC00;
    border: 1px solid #999999;
    padding: 7px;
    font-size: 14px;
    border-radius: 3px;
}