/* @title Footer Background */
/* @help Footer Background */
.footer {
    background-color:#465157;
    color:#CCC;
    font-size:12px;
    padding:6px 12px;
}
/* @title Footer Links */
/* @help Footer text URL */
.footer a {
    text-transform:capitalize;
    text-decoration:none;
    color:#FFF;
}
/* @title Footer Link Hover */
/* @help Footer text URL hover */
.footer a:hover {
    text-decoration:underline;
}
#footer_content {
    max-width:1140px;
    margin-left:auto;
    margin-right:auto;
}

#footer_logo {
    padding:12px;
    vertical-align:middle;
}

/* @title Footer Text */
/* @help Footer text */
#footer_text {
    text-align:right;
    color:#CCCCCC;
    font-size:14px;
    padding:12px;
}
/* @title Footer Social Networks */
/* @help the social network icons located in the footer */
#footer_sn {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:10px;
    right:65px;
    display:none;
}
.scrollup:hover{
    opacity:1;
}
