.form_radio {
}
/* @title Radio Option */
/* @help Format for Radio form field options */
.form_radio_option {
    display:inline;
    padding-right:32px;
}
/* @title Textarea */
/* @help Format for Textarea form input fields */
.form_textarea {
    color:#000000;
    font-size:14px;
    width:75%;
    height:100px;
    padding:5px; /* @ignore */
    margin:0 2px; /* @ignore */
    background-color:#E8EAEB;
    border-width:1px;
    border-style:solid;
    border-color:#7F7F7F;
    border-radius:4px;
}
/* @title Textarea Focus */
/* @help Class applied to a textarea field when the field is selected for input. */
textarea:focus {
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    background-color: #FFFFFF;
}

/* @title Checkbox */
/* @help Class applied to a checkbox form field */
.form_checkbox {
    font-size:16px;
    margin:10px 3px 3px 3px;
    border-radius:4px;
}
