/* @title Text Input */
/* @help Format for Text Input form elements */
.form_text {
    color:#000000;
    font-size:14px;
    width:75%;
    padding:5px; /* @ignore */
    margin:0 2px; /* @ignore */
    background-color:#E8EAEB;
    border-width:1px;
    border-style:solid;
    border-color:#7F7F7F;
    border-radius:4px;
    vertical-align: middle;
}
/* @title Date Input */
/* @help Format for Date Input form elements */
.form_date {
    color:#000000;
    font-size:14px;
    width:240px;
    padding:4px; /* @ignore */
    margin:0 2px; /* @ignore */
    background-color:#E8EAEB;
    border-width:1px;
    border-style:solid;
    border-color:#7F7F7F;
    border-radius:4px;
    vertical-align: middle;
}
/* @title Input Focus */
/* @help Class applied to a text input field when the field is selected for input. */
input:focus {
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    background-color: #FFFFFF;
}
/* @title Input Disabled */
/* @help Class applied to a text input field when the field is disabled for input. */
.form_text[disabled="disabled"], .form_text[readonly="readonly"] {
    background-color:#ddd;
    color:#888;
}
.form_text_search {
    width:45%;
}