/* @title Page Background */
/* @help What color should the background be for the actual page content? */
.page_content {
    background-color:#949799;
    border-radius:4px 4px 0 0;
}

.page_custom {
    background:#949799;
}

/* @title Page Section */
/* @help The Page Section is the small divider that can divide forms into logical groups. */
.page_section_header {
	background-color:#BBB;
    font-size:14px;
    text-align:center;
    text-transform:lowercase;
    font-variant:small-caps;
    padding:6px;
    margin:8px 0 8px 0; /* @ignore */
    border:1px 1px 0 1px solid #666666;
    border-radius: 4px;
}

/* @title Page Divider */
/* @help The small horizontal line or section that can be used to divide large sections of a page */
.page_divider {
    background-color:#949799;
    height:8px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#DDDDDD;
}

/* @title Page Note */
/* @help If a module has a special &quot;note&quot; that it wants to display, this controls how it looks. */
.page_note {
    background-color:#BBB;
    font-size:14px;
    padding:9px;
    margin-top:12px;
    margin-bottom:9px;
    text-align:center;
    border-width:1px;
    border-style:solid;
    border-color:#DDDDDD;
}

/* @title Page Search Hilight */
/* @help For options that support searching and hilighting, this is the background color for text matching. */
.page_search_highlight {
    background-color:#F7DD4F;
}
