/* Jamroom Playlist Module CSS */

.playlist_box {
    position: inherit;
    width: 400px;
    text-align: left;
    background-color: #EEEEEE;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 12px;
    display: none;
    z-index: 10000;
    overflow: visible;
    box-shadow: 3px 3px 3px 3px #CCCCCC;
}

#playlist_message {
    padding-left: 5px;
    font-size: 12px;
    margin-bottom: 6px;
}

.playlist_name {
    padding: 5px;
}

.playlist_name a {
    text-decoration: underline;
}

.playlist_count {
    white-space: nowrap;
    font-size: 10px
}

.playlist_button {
    width: 70px;
}

.playlist_success {
    border-radius: 5px;
    background-color: #CCFF99;
    color: #000000;
}

.playlist_error {
    border-radius: 5px;
    background-color: #FFDD00;
    color: #000000;
}

#playlist_close,
#playlist_prev,
#playlist_next {
    cursor: pointer;
}

@media handheld, only screen and (max-width: 767px) {
    .playlist_box {
        position: absolute;
        width: 80%;
        right: 0;
    }

    .playlist_button {
        width: 50px;
    }

    .playlist_name {
        font-size: 12px;
    }
}

