/*
 * Jamroom 5 Elastic CSS
 * Copyright 2003-2011 by Talldude Networks, LLC.
 * @author Brian Johnson - brian@talldude.net
 */

/* @title Page Background */
/* @help This is the main background for the site */
html {
    background-color: #e8e8e8;
    min-height: 100vh;
}

/* @title Body */
/* @help This is the main style for the body of the page */
body {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size:14px;
    color:#888;
    padding:0;
    margin:0;
}

/* @title Text Links */
/* @help Text URL links */
a {
    color: #fff;
    text-decoration:none;
    cursor:pointer;
}

/* @title Text Link Hover */
/* @help Text URL Hover */
a:hover {
    text-decoration:underline;
}

#header li {
    list-style: none;
}

.item li {
    list-style: unset;
}