#item-holder {
    margin-right:9px;
}
/* @title Menu List */
/* @help The main list for the Menu */
#item-list {
    width:100%;
    display:table;
    overflow: auto;
    margin:9px;
    margin-right:0;
    padding:6px;
}
/* @title Menu Row */
/* @help The row for the menu list */
.item-row {
    width:100%;
    display:block;
    cursor:pointer;
    height:56px;
    background:#000;
    border-radius:4px;
}
/* @title Menu Active Row */
/* @help The active row for the menu list */
.item-row-active {
    background-color:#920B0C;
}
/* @title Menu Hover */
/* @help The hover for the menu list */
.item-row:hover {
    background-color:#920B0C;
}
/* @title Menu Icon */
/* @help The icon for the menu item */
.item-icon {
    display:table-cell;
    padding:3px;
    border-bottom:0 solid #aaa;
}
/* @title Menu Entry */
/* @help The text area for the menu item */
.item-entry {
    width:100%;
    display:table-cell;
    padding:6px;
    font-size:14px;
    color:#FFF;
    vertical-align:middle;
    border-bottom:0 solid #aaa;
}

/* @title Module Enabled */
/* @help Contents of Small box to the right of an enabled module */
.item-enabled {
    display:table-cell;
    padding-right:6px;
    border-bottom:0 solid #aaa;
}

/* @title Module Disabled */
/* @help Contents of Small box to the right of a disabled module */
.item-disabled {
    display:table-cell;
    color:#FFCC00;
    background:#920B0C;
    font-size:11px;
    padding:6px;
    border:1px solid #252525;
    border-radius:4px;
}
/* @title Menu Item Active */
/* @help The active state of a menu item */
.item-active {
    display:table-cell;
    background:#336600;
    font-size:11px;
    padding:6px;
    border:0 solid #aaa;
    border-radius:4px;
}
#item-work {
    background-color:#000;
}

