.page_notice_drop {
    background:#000;
}
/* @title Form Message Box */
/* @help Form messages will be displayed withing the Form Message box */
.page_notice {
    text-align:center;
    padding:10px;
    margin:12px;
    font-size:14px;
}
/* @title Form Message Text */
/* @help Formats the message text as shown in the Form Message Box */
.form_notice {
    text-align:center;
    padding:10px;
    display:none;
    color:#606060;
}

/* @title Form Notice */
/* @help Background color of Form Notice messages */
.notice {
    background-color:#000;
    color:#FFF;
    padding:5px;
    border-radius:4px;
    border:1px solid #FFF;
}

/* @title Form Warning */
/* @help Background color of Form Warning messages */
.warning {
    background-color:#000;
    color:#D61D1E;
    padding:5px;
    border-radius:4px;
    border:1px solid #D61D1E;
}

/* @title Form Error */
/* @help Background color of Form Error messages */
.error {
    background-color:#000;
    color:#920B0C;
    padding:5px;
    border-radius:4px;
    border:1px solid #920B0C;
}

/* @title Form Success */
/* @help Background color of Form Success messages */
.success {
    background-color:#000;
    color:#006633;
    padding:5px;
    border-radius:4px;
    border:1px solid #006633;
}

/* @title Field Error */
/* @help Background color of a form field if the contents are in error */
.field-hilight {
    background-color:#606060;
    padding:2px;
    color:#FFF;
}
#comment_success {
    background-color:#000;
    color:#006633;
    padding:6px;
    padding-left:12px;
    border-radius:5px;
    border:1px solid #006633;
    margin:12px;
}

#comment_notice {
    background-color:#000;
    color:#FFF;
    padding:6px;
    padding-left:12px;
    border-radius:5px;
    border:1px solid #FFF;
    margin-bottom:6px;
}
