/*
 * Jamroom 5 SoloArtist CSS
 * Copyright 2003-2011 by Talldude Networks, LLC.
 * @author Brian Johnson - brian@talldude.net
 */

/* @title Page Background */
/* @help This is the main background for the site */
html {
    background-color:#222;
}

/* @title Body */
/* @help This is the main style for the body of the page */
body {
    background-color:#000;
    font-family:Verdana,sans-serif;
    font-size:14px;
    color:#606060;
    padding:0;
    margin:0;
}

/* @title Text Links */
/* @help Text URL links */
a {
    color:#D61D1E;
    text-decoration:none;
    cursor:pointer;
}

/* @title Text Link Hover */
/* @help Text URL Hover */
a:hover {
    color:#606060;
    text-decoration:none;
}

/* @title Heading 1 */
/* @help Heading Text size 24px  */
h1 {
    font-size:14px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
    color:#FFF;
}

/* @title Heading 2 */
/* @help Heading Text size 18px  */
h2 {
    font-size:12px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
}

/* @title Heading 3 */
/* @help Heading Text size 14px  */
h3 {
    font-size:10px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
}

/* @title Heading 4 */
/* @help Heading Text size 12px  */
h4 {
    font-size:10px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
}
/* @title Heading 5 */
/* @help Heading Text size 10px  */
h5 {
    font-size:10px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
}
/* @title Heading 6 */
/* @help Heading Text size 8px  */
h6 {
    font-size:9px;
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
}
p {
    font-size:12px;
}
hr {
    border:0;
    height:1px;
    background:#0F0F0F;
}

/* @title Breadcrumb */
/* @help The size of the navigation links under the headings  */
.breadcrumbs{
    text-transform:capitalize;
    font-size: 9px;
}
/* @title Breadcrumb link-color */
/* @help The color of the links in the breadcrumb navigation  */
.breadcrumbs a{
    color: #D61D1E;
}
.breadcrumbs a:hover{
    color: #606060;
}
