/* @title Text Input */
/* @help Format for Text Input form elements */
.form_text {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 16px;
    width: 75%;
    padding: 2px 4px 3px 4px; /* @ignore */
    margin: 0 2px; /* @ignore */
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-radius: 2px;
    vertical-align: middle;
}

/* @title Date Input */
/* @help Format for Date Input form elements */
.form_date {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 16px;
    width: 26%;
    padding: 0 4px; /* @ignore */
    margin: 0 2px; /* @ignore */
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-radius: 2px;
    vertical-align: middle;
}

/* @title Input Focus */
/* @help Class applied to a text input field when the field is selected for input. */
input:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #EEEEEE;
}

.form_text[disabled="disabled"], .form_text[readonly="readonly"] {
    background: #DDDDDD;
    color: #888888;
}

.form_text_search {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 45%;
}

.live_search_text {
    color: #CCCCCC;
    font-style: italic;
}