/* @title Select */
/* @help Format for the Select form field. */
.form_select {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 16px;
    width: 76%;
    padding: 3px; /* @ignore */
    margin: 2px; /* @ignore */
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-radius: 2px;
    vertical-align: middle;
}

.form_select_and_text_select {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 32%;
    margin-right: 12px;
}

.form_select_and_text_tag {
    text-transform: capitalize;
    margin-right: 6px;
}

.form_select_and_text_text {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 32%;
}

/* @title Select Jumper */
/* @help Format for the Select Jumper field used in Page Headers */
.form_select_item_jumper {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-width: 0;
    width: 250px;
}

.form_select_item_jumper:focus {
    border-width: 0;
}

.form_admin_search {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-width: 0;
    font-style: italic;
    color: #AAAAAA;
}

.form_admin_search:focus {
    border-width: 0;
}

/* @title Select Focus */
/* @help Class applied to a select field when the field is selected. */
select:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #EEEEEE;
}

/* @title Time Input */
/* @help Class applied to the Time Select Field */
.form_time {
    margin-left: 12px;
    width: 15%;
    min-width: 95px;
}