/* remove Firefox's dotted outlines... */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

form {
    margin-bottom: 0;
}

.element {
}

/* @title Element Left */
/* @help This is the left side of pages and forms where the label and sub-label will appear */
.element_left {
    background-color: #FFFFFF;
    text-align: right;
    text-transform: capitalize;
    padding: 8px;
    width: 25%;
}

/* @title Element Right */
/* @help This is the right side of pages and forms where the form elements appear */
.element_right {
    background-color: #FFFFFF;
    padding: 6px;
    width: 75%;
}

/* @title Element Right URLs */
/* @help This is the color of URLs that might appear on the right side of the form */
.element_right a {
    color: #222222;
}

.form_input_left {
    height: 30px;
}

.form_input_right {
}

.sublabel {
    font-size: 11px;
    text-transform: none;
}

.form_help_button {
    float: right;
}

/* @title Form Help */
/* @help This is for the help sections for the forms */
.form_help {
    background-color: #FFFFFF;
    padding: 9px;
}

/* @title Form Help Drop */
/* @help This is for the help drop down section for the forms */
.form_help_drop {
    padding-top: 8px;
    background-color: #EDEDED;
    border-radius: 2px;
    width: 100%;
}

/* @title Form Help Drop Left */
/* @help This is for the left side help drop down section for the forms */
.form_help_drop_left {
    width: 95%;
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    text-align: left;
    text-transform: none;
}

/* @title Form Help Drop Right */
/* @help This is for the right side help drop down section for the forms */
.form_help_drop_right {
    width: 5%;
    padding: 10px 20px 20px 20px;
}

.form_help_default {
    display: inline-block;
    margin-top: 12px;
}

/* @title Form Help Small */
/* @help This is for the small help text */
.form_help_small {
    display: inline-block;
    font-size: 9px;
    margin-top: 12px;
    color: #999999;
    font-style: italic;
}

.form_submit_box {
    background-color: #FFFFFF;
    padding-top: 12px;
}

/* @title Form Submit */
/* @help This is for the form submit section */
.form_submit_section {
    background-color: #EDEDED;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}

#form_submit_indicator {
    display: none;
    margin-right: 10px;
    vertical-align: middle;
}
