/* Mobile */
@media handheld, only screen and (max-width: 801px) {

    input[type=submit], input[type=reset], input[type=button] {
        -webkit-appearance: none;
    }

    body {
        width: 100%;
        min-width: 0;
        margin: 0;
        padding: 0;
        font-size: 10px;
        -webkit-text-size-adjust: none;
    }

    h1 {
        font-size: 14px;
        font-weight: bold;
    }

    h2 {
        font-size: 13px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 11px;
    }

    #main_logo {
        width: 100%;
        padding: 0;
    }

    #main_logo span {
        display: inline-block;
        margin-top: 9px;
        margin-left: 24px;
    }

    #main_logo img {
        position: relative;
        float: left;
        width: 28px;
        height: 28px;
        top: 15px;
        left: 12px;
    }

    #main-box {
        text-align: center;
    }

    #mb-headline {
        margin: 0;
        font-size: 42px;
    }

    #mb-text {
        width: 90%;
    }

    #main-app-stores {
        display: none;
    }

    .feature-box {
        padding: 10px 20px;
    }

    .feature-img {
        padding: 10px;
    }

    /* Main Menu CSS */
    #menu_content {
        width: 75%;
        position: inherit;
        top: 0;
        display: block;
        float: none;
        margin-left: auto; /* @ignore */
        margin-right: auto; /* @ignore */
        height: 100%; /* @ignore */
        padding: 6px 15px 12px 15px;
    }

    #menu-wrap {
        position: relative;
    }

    #menu-wrap * {
        box-sizing: border-box;
    }

    #wrapper {
        padding-top: 62px;
    }

    #content {
        padding: 0;
    }

    .rslides {
        height: 256px;
    }

    .rslides li {
        height: 256px;
    }

    #footer {
        text-align: center;
        margin-top: 0;
    }

    #footer_text {
        padding: 0 12px 12px 12px;
        font-size: 11px;
        text-align: center;
    }

    #main_menu {
        padding: 6px;
        text-align: center;
        font-size: 14px;
    }

    #menu-wrap {
        position: relative;
    }

    #menu-wrap * {
        box-sizing: border-box;
    }

    .row, .container {
        width: 100%;
        min-width: 0;
        margin: 0;
        padding: 0;
    }

    .row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .block {
        font-size: 12px;
    }

    #item-list {
        background: #CCCCCC;
        height: 86px;
        overflow: auto;
        overflow-y: scroll;
        border: 3px solid #222222;
    }

    #item-holder {
        margin-right: 0;
    }

    .page_content {
        width: 100%;
        margin: 0 auto;
    }

    .page_banner {
        margin-bottom: 6px;
    }

    /* @title Page Banner Icon */
    /* @help The Page Banner Icon section is the small section at the top of pages where the module icon appears */
    .page_banner_icon {
        padding: 0;
        margin: 0;
    }

    .page_banner_icon img {
        display: none;
    }

    .page_banner_left {
        text-align: left;
        padding: 3px 9px;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
        white-space: nowrap;
    }

    .page_banner_right {
        padding: 6px 12px;
        text-align: right;
    }

    .page_table_header {
        font-size: 8px;
    }

    .page_table_cell {
        padding: 2px;
        font-size: 8px;
    }

    .nowrap {
        white-space: normal;
    }

    .element_left {
        padding: 3px;
        font-size: 11px;
    }

    .element_right {
        font-size: 10px;
        padding: 3px;
    }

    .profile_image_element_right img {
        width: 190px;
        text-align: center;
    }

    .profile_menu_entry {
        width: 70%;
        padding: 8px;
        margin-bottom: 3px;
    }

    .form_button {
        font: bold 10px Verdana, sans-serif;
        padding: 0 6px;
        margin: 0;
    }

    .form_select_item_jumper {
        width: 50%;
    }

    .upload_button {
        font: bold 10px Verdana, sans-serif;
        height: 20px;
        padding: 6px 6px 0 6px;
        margin: 0;
    }

    .create_img {
        height: 20px;
        width: 20px;
    }

    .update_img {
        height: 20px;
        width: 20px;
    }

    .delete_img {
        height: 20px;
        width: 20px;
    }

    .download_img {
        height: 20px;
        width: 20px;
    }

    /* Tab Bar */
    .page_tab_bar_holder {
        width: 100%;
        background: #FFFFFF;
        border-bottom: 0;
        padding: 0 12px 6px 0;
    }

    .page_tab_bar_spacer {
        height: 0;
        background-color: #FFFFFF;
    }

    .page_tab {
        background: #DDDDDD;
        float: left;
        list-style: none;
        margin: 3px 6px 3px 0;
        color: #000000;
        text-transform: capitalize;
        font-size: 12px;
        padding: 3px;
        text-align: center;
        border-radius: 2px;
    }

    .page_tab a {
        color: #000000;
        text-decoration: none;
    }

    .page_tab_first {
        margin-left: 0;
    }

    .page_tab_last {
        background: #DDDDDD;
        color: #000000;
    }

    .page_tab_active {
        background: #444444;
        color: #FFFFFF;
        border: 0;
    }

    .page_tab_active a {
        color: #FFFFFF;
    }

    .info_img {
        display: none;
    }

    .gallery_img {
        width: 100%;
    }

    .item {
        padding: 6px;
        font: 12px Verdana, sans-serif;
    }

    #action_text {
        width: 95%;
    }

    .action_item_holder {
        text-align: left;
        display: inline-block;
    }

    .action_item {
        width: 100%;
        font-size: 11px;
        overflow: auto;
        clear: both;
    }

    .action_item_date {
        clear: both;
        float: none;
        text-align: left;
        font-size: 8px;
        font-style: italic;
        margin: 6px 0 0 0;
    }

    .action_item_user_img {
        margin: 0 9px 0 0;
        width: 32px;
        height: 32px;
    }

    .action_media_thumb {
        display: inline-block;
    }

    .action_media_thumb img {
        display: inline-block;
        width: 32px;
        height: 32px;
    }

    .left {
        font-size: 10px;
    }

    .right {
        font-size: 10px;
    }

    .form_text_search {
        width: 33%;
    }

    .ds_browser_key {
        width: auto;
    }

    #ds_browser_new_key {
        width: 80px;
    }

    /* Image Slider CSS */
    h1 {
        font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .callbacks_nav {
        top: 47%;
    }

}
