/* jrProximaAlpha Profile Page CSS */

/* @title Profile Menu */
/* @help This is the Profile menu */
.profile_menu {
    margin: 0;
    background-color: #FFFFFF;
    padding: 0 12px 6px 12px;
}

/* @title Profile Menu Entry */
/* @help This is the Profile menu entries */
.profile_menu_entry {
    background-color: #F0F0F0;
    display: inline-block;
    text-transform: capitalize;
    margin-top: 6px;
    margin-right: 2px;
    padding: 9px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

/* @title Menu Entry Link */
/* @help This is the menu entry URL link */
.profile_menu_entry a {
    color: #000000;
}

/* @title Menu Link Hover */
/* @help This is the menu entry URL link hover effect */
.profile_menu_entry:hover {
    background-color: #8CA2B7;
}

/* @title Menu Entry Active */
/* @help This is the menu entry active state */
.profile_menu_entry_active {
    /* background-color:#EEEEEE; */
    background-color: #333333;
    color: #FFFFFF;
}

.profile_menu_entry_active:hover {
    color: #000000;
}

/* @title Profile Name Box */
/* @help This is the box that the Profile Name text is in */
.profile_name_box {
    background-color: #18446E;
    vertical-align: middle;
    text-transform: capitalize;
    padding: 12px;
    margin: 12px;
}

/* @title Profile Name */
/* @help This is the Profile Name text */
.profile_name {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 28px;
    color: #FFFFFF;
}

/* @title Profile Link */
/* @help This is the Profile Name URL link */
.profile_name a {
    text-decoration: none;
}

/* @title Profile Link Hover */
/* @help This is the Profile Name link hover effect */
.profile_name a:hover {
    text-decoration: none;
}

.profile_actions {
    float: right;
    vertical-align: middle;
    text-align: right;
}

.profile_image {
    position: relative;
}

.profile_hoverimage {
    background-color: #333333;
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 3px;
    display: none;
    opacity: 0.8;
    border-radius: 2px;
}

.profile_hoverimage a {
    text-decoration: none;
}

.profile_hoverimage a:hover {
    text-decoration: none;
}

.profile_image:hover .profile_hoverimage {
    display: block;
    cursor: pointer;
}

.stat_entry_box {
    float: left;
    background-color: #F0F0F0;
    color: #000000;
    border-radius: 2px;
    padding: 3px 9px;
    margin: 6px 6px 0 0;
    font-size: 12px;
    text-transform: uppercase;
}

.stat_entry_box a {
    color: #000000;
    text-decoration: none;
}

.stat_entry_box:hover {
    background-color: #EEEEEE;
}

.stat_entry_count {
    font-weight: bold;
}
