/* @title Image Tag */
/* @help This is the class for the img tag in your HTML */
img {
    border: 0;
    vertical-align: middle;
    margin: 0;
    height: auto;
}

/* @title Image Icon */
/* @help This is the icon image */
.img_icon {
    padding: 1px;
    margin-right: 12px;
}

/* images (not icons) */
.img_scale {
    width: 100%;
}

.social-img {
    margin-right: 12px;
}

/* @title Image Outline */
/* @help This is the small outline around small images */
.ioutline {
    padding: 1px;
    vertical-align: middle;
}

/* @title Image Outline Link */
/* @help This is the small outline around small images that are linked */
.iloutline {
    padding: 1px;
    vertical-align: middle;
}

.iindex {
    margin: 3px 1px;
}

.create_img {
    cursor: pointer;
}

.update_img {
    cursor: pointer;
}

.delete_img {
    cursor: pointer;
}

.file_attachment {
    background: #EEEEEE;
    margin-bottom: 4px;
    padding: 5px;
}

.transparent_image img {
    background-color: #F3F3F3;
}