/* Tablets */
@media only screen and (max-width: 1025px) {

    input[type=submit], input[type=reset], input[type=button] {
        -webkit-appearance: none;
    }

    .page_tab {
        font-size: 14px;
    }

    .index {
        background: #333333 url("{$jrElastic2_img_url}/1.jpg") no-repeat fixed 50% 0 / cover;
    }

}