/* Jamroom 5 Gallery Module CSS */
.jr_gallery_row a {
    text-decoration:none;
}
.jr_gallery_row a:hover {
    text-decoration:none;
}
.gallery_actions {
    position:absolute;
    top:6px;
    right:6px;
    display:none;
}
.gallery_img {
    width:97%;
}
.gallery_rating {
    max-width: 70px;
    padding-top:6px;
    margin:0 auto;
}
.gallery_lightbox {
    padding-top:12px;
}
.gallery_lightbox a {
    text-decoration:none;
}
.gallery_lightbox a:hover {
    text-decoration:none;
}

#gallery_slider_box {
    padding:12px 0 0 0;
    padding-left:16px;
}
#gallery_slider {
}

.gallery_slider_prev {
    float:left;
    margin-right:8px;
    padding-top:14px;
}
.gallery_slider_next {
    float:left;
    margin-left:4px;
    padding-top:14px;
}

.gallery_slider_img {
    float:left;
    margin-right:4px;
}

.gallery_slider_img img {
    border:1px solid #DDD;
}

.gallery_slider_img img:hover {
    border:1px solid #FC0 !important;
}

.jrgallery_update_div {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding:12px;
    margin:6px 12px 6px 3px;
    border:1px solid #111;
    text-align:center;
}
.jrgallery_update_div:hover {
    background-color:#000;
}
.jrgallery_update_image {
    border:1px solid #333;
    margin:1px;
    margin-bottom:6px;
}
.jrgallery_update_button {
    font-size:10px;
    width:60px;
    margin:2px;
}

.jrgallery_update_button:hover {
    cursor:pointer;
}

@media handheld, only screen and (max-width: 767px) {
    .jr_gallery_row {
        width:90%;
    }
}
