/* @title Select */
/* @help Format for the Select form field. */
.form_select {
    vertical-align: middle;
    color:#000000;
    font-size:14px;
    width:76%;
    padding:3px; /* @ignore */
    margin:2px; /* @ignore */
    background-color:#E8EAEB;
    border-width:1px;
    border-style:solid;
    border-color:#7F7F7F;
    border-radius:4px;
}
/* @title Select Multiple */
/* @help Format for the Select form field when multiple items can be selected. */
.form_select_multiple {
}

.form_select_and_text_select {
    width:31%;
    margin-right:20px;
}
.form_select_and_text_text {
    width:30%;
    margin-left:6px;
}

/* @title Select Jumper */
/* @help Format for the Select Jumper field used in Page Headers */
.form_select_item_jumper {
    width:30%;
}

.form_admin_search {
    width:30%;
    font-style:italic;
    color:#AAAAAA;
}

/* @title Select Focus */
/* @help Class applied to a select field when the field is selected. */
select:focus {
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    background-color: #FFFFFF;
}

/* @title Time Input */
/* @help Class applied to the Time Select Field */
.form_time {
    margin:0;
    margin-left:20px;
    width:140px;
}