
.video_container {
    position: relative;
}

.jrAudioPro_player .jp-gui.start {
    display: block !important;
    opacity: 1 !important;
}

.jrAudioPro_player .jp-gui {
    bottom: 0;
    height: 100% !important;
    left: 0;
    position: absolute;
    width: 100%;
}

.jrAudioPro_player li {
    float: left;
    list-style: outside none none;
}

.jrAudioPro_player .jp-video-play {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.jrAudioPro_player .jp-video-play-icon {
    display: block;
    height: 40px;
    margin: auto;
    width: 40px;
    text-indent: -9999px;
}

.jrAudioPro_player .jp-interface {
    background: #555555 none repeat scroll 0 0;
    bottom: 0;
    height: 35px;
    position: absolute;
    width: 100%;
}

.jrAudioPro_player .jp-video-play {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.jrAudioPro_player .jp-pause {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/pause.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
}

.jrAudioPro_player .jp-play,
.jrAudioPro_player .jp-pause,
.jrAudioPro_player .jp-mute,
.jrAudioPro_player .jp-unmute,
.jrAudioPro_player .jp-settings,
.jrAudioPro_player .jp-restore-screen,
.jrAudioPro_player .jp-full-screen {
    display: block;
    height: 18px;
    margin: 0 20px;
    width: 18px;
    position: absolute;
}

.jrAudioPro_player .jp-play {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/play.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
}

.jrAudioPro_player .jp-controls-holder {
    padding: 8px 0;
}

.jrAudioPro_player .jp-progress-holder {
    height: 8px;
    left: 46px;
    padding: 6px 0 0;
    position: absolute;
    right: 284px;
}

.jrAudioPro_player .jp-duration {
    color: #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6;
    position: absolute;
    right: 240px;
}

.jrAudioPro_player .jp-full-screen, .jp-restore-screen {
    right: 0;
}

.jrAudioPro_player .jp-full-screen {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/fullscreen.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
}

.jrAudioPro_player .jp-unmute {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/unmute.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
    right: 190px;
}

.jrAudioPro_player .jp-mute {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/mute.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
    right: 190px;
}

.jrAudioPro_player .jp-settings {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/settings.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
    right: 35px;
}

.jrAudioPro_player .jp-seek-bar, .jrAudioPro_player .jp-play-bar, .jrAudioPro_player .jp-progress {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 0;
    height: 7px;
}

.jrAudioPro_player .jp-play-bar {
    background: #FF5500 none repeat scroll 0 0;
}

.jrAudioPro_player div.jp-video-full div.jp-jplayer {
    top: 0;
    left: 0;
    position: fixed !important;
    position: relative; /* Rules for IE6 (full-screen) */
    overflow: hidden;
}

.jrAudioPro_player div.jp-video-full div.jp-gui,
.jrAudioPro_player .jp-audio.jp-state-full-screen div.jp-gui {
    position: fixed !important;
    position: static; /* Rules for IE6 (full-screen) */
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 1001; /* 1 layer above the others. */
}

.jrAudioPro_player .jp-restore-screen {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/fullscreen.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
}

.jrAudioPro_player .jp-video-full .jp-controls-holder,
.jrAudioPro_player .jp-audio.jp-state-full-screen .jp-controls-holder {
    margin: auto;
    max-width: 1180px;
    position: relative;
}

.jrAudioPro_player .jp-audio .jp-title {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #FFFFFF;
    display: inline !important;
    font-weight: bold;
    left: 20px;
    max-width: 80%;
    padding: 10px;
    position: absolute;
    top: 0;
}

.jrAudioPro_player .jp-playlist {
    bottom: 50px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.jrAudioPro_player .jp-playlist li {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    width: 100%;
}

.jrAudioPro_player .jp-playlist-current a {
    color: rgba(248, 197, 116, 1);
}

.jrAudioPro_player .jp-playlist div {
    padding: 7px;
}

.jrAudioPro_player .jp-control-settings {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    bottom: 34px;
    padding: 6px;
    position: absolute;
    right: 10px;
    z-index: 500;
}

.jrAudioPro_player .jp-volume-bar {
    background: #111111 none repeat scroll 0 0;
    cursor: pointer;
    height: 8px;
    margin: 5px 0;
    overflow: hidden;
    position: absolute;
    right: 87px;
    width: 116px;
}

.jrAudioPro_player .jp-volume-bar-value {
    background: #0E8DFF none repeat scroll 0 0;
    border-radius: 0;
    height: 8px;
}

.jrAudioPro_player.audio .jp-settings {
    right: 0;
}

.jrAudioPro_player.audio .jp-mute, .jrAudioPro_player.audio .jp-unmute {
    right: 35px;
}

.jrAudioPro_player.audio .jp-duration {
    right: 95px;
}

.jrAudioPro_player.audio .jp-volume-bar {
    right: 25px;
}

.jrAudioPro_player.audio .jp-progress-holder {
    right: 158px;
}

.jrAudioPro_player .jp-video-play-icon.replay {
    background-position: 0 -41px;
}

.jrAudioPro_player .jp-play.replay {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/replay.png") no-repeat scroll 0 0 / contain;
    opacity: 0.8;
}

.jrAudioPro_player .jp-title {
    margin: 2em;
}

.jrAudioPro_player .jp-control-settings span {
    color: white;
}

.button_player div.jp-interface ul.jp-controls a.jp-play,
.button_player div.jp-interface ul.jp-controls a.jp-pause {
    display: none;
}

li.jp-playlist-current {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}

.jrAudioPro_player {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.jrAudioPro_audio {
    background: #555555 none repeat scroll 0 0;
    border-radius: 5px;
}

.jrAudioPro_audio .jp-play {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/play.png") no-repeat scroll 0 0 / contain;
    bottom: 50%;
    opacity: 0.8;
    position: absolute;
    transform: translateY(50%);
}

.jrAudioPro_audio .jp-unmute {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/unmute.png") no-repeat scroll 0 0 / contain;
    bottom: 50%;
    opacity: 0.8;
    position: absolute;
    right: 110px;
    transform: translateY(50%);
}

.jrAudioPro_audio .jp-mute {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/mute.png") no-repeat scroll 0 0 / contain;
    bottom: 50%;
    opacity: 0.8;
    position: absolute;
    right: 110px;
    transform: translateY(50%);
}

.jrAudioPro_audio .jp-pause {
    background: rgba(0, 0, 0, 0) url("{$jrAudioPro_img_url}/pause.png") no-repeat scroll 0 0 / contain;
    bottom: 50%;
    opacity: 0.8;
    position: absolute;
    transform: translateY(50%);
}

.jrAudioPro_audio .jp-controls {
    display: inline-block;
    padding: 10px 0;
}

.jrAudioPro_audio .jp-unmute, .jrAudioPro_audio .jp-play, .jrAudioPro_audio .jp-mute, .jrAudioPro_audio .jp-pause {
    display: block;
    height: 20px;
    width: 20px;
}

.jrAudioPro_audio .jp-controls {
    display: inline-block;
}

.jrAudioPro_audio .jp-unmute, .jrAudioPro_audio .jp-play, .jrAudioPro_audio .jp-mute, .jrAudioPro_audio .jp-pause {
    display: block;
    height: 24px;
    width: 24px;
}

.jrAudioPro_audio .jp-audio {
    padding: 10px 20px;
}

.jrAudioPro_audio .jp-gui {
    height: auto !important;
    width: 100%;
}

.jrAudioPro_audio .jp-duration {
    bottom: 50%;
    color: #CCCCCC;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 150px;
    transform: translateY(50%);
}

.jrAudioPro_audio .jp-controls-holder {
    height: 30px;
    position: relative;
}

.jrAudioPro_audio .jp-progress-holder {
    background: #111111 none repeat scroll 0 0;
    bottom: 50%;
    height: 10px;
    left: 35px;
    position: absolute;
    right: 208px;
    transform: translateY(50%);
}

.jrAudioPro_audio .jp-play-bar {
    background: #FF5500 none repeat scroll 0 0;
    height: 10px;
}

.jrAudioPro_audio .jp-seek-bar {
    background: #111111 none repeat scroll 0 0;
}

.jrAudioPro_audio .jp-volume-bar {
    background: #111111 none repeat scroll 0 0;
    bottom: 50%;
    height: 10px;
    position: absolute;
    right: 0;
    transform: translateY(50%);
    width: 100px;
}

.jrAudioPro_audio .jp-progress {
    background: #333333 none repeat scroll 0 0;
}

.jrAudioPro_audio .jp-volume-bar-value {
    background: #0E8DFF none repeat scroll 0 0;
    height: 10px;
}

.jrAudioPro_audio .jp-pause, .jrAudioPro_audio .jp-play {
    width: 20px;
}

.jrAudioPro_audio .jp-artist {
    color: #999999;
}

.jrAudioPro_audio .jp-playlist li {
    border-bottom: 1px solid #666666;
    padding: 10px;
}

.jrAudioPro_audio.playlist .jp-title {
    display: block !important;
    font-size: 24px;
    left: 113px;
    position: absolute;
    top: 20px;
}

.jrAudioPro_audio.playlist .jp-playlist {
    display: block !important;
    max-height: 230px;
    overflow: auto;
    padding: 16px 0 0;
}

.jrAudioPro_audio.playlist .jp-gui {
    padding: 20px 0 0;
}

.jrAudioPro_audio .jp-playlist li:last-child {
    border: medium none;
}

.jrAudioPro_audio.playlist .jp-audio {
    padding: 20px;
}

.jrAudioPro_audio .jp-playlist-item, .jrAudioPro_audio .jp-title {
    color: #FFFFFF;
}

.jrAudioPro_audio li {
    list-style: outside none none;
}

.jrAudioPro_audio ul {
    margin: 0;
    padding: 0;
}

/* Mobile */
@media handheld, only screen and (max-width: 767px) {
    .jrAudioPro_player .jp-duration {
        right: 87px;
    }

    .jrAudioPro_player .jp-progress-holder {
        right: 130px;
    }

    .jrAudioPro_player .jp-volume-bar.desk, .jrAudioPro_player #mute-unmute,
    .jrAudioPro_audio .jp-volume-bar.desk, .jrAudioPro_audio #mute-unmute {
        display: none !important;
    }

    .jrAudioPro_audio.playlist .jp-title {
        font-size: 16px;
    }

    .jrAudioPro_audio .jp-progress-holder {
        right: 50px;
    }

    .jrAudioPro_audio .jp-duration {
        right: 0;
    }
}

.jp-controls-holder ul {
    margin: 0;
    padding: 0;
}