.sprite_icon_black_14{display:inline-block;width:14px;height:14px;}
.sprite_icon_black_14_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrAudioPro_sprite_black_14.png?_v=1492581670') no-repeat top left; height:100%;width:100%;}
.sprite_icon_black_14_at{background-position:0 0}
.sprite_icon_black_14_chat-close{background-position:-14px 0}
.sprite_icon_black_14_chat-contact{background-position:-28px 0}
.sprite_icon_black_14_chat-contract{background-position:-42px 0}
.sprite_icon_black_14_chat-down{background-position:-56px 0}
.sprite_icon_black_14_chat-expand{background-position:-70px 0}
.sprite_icon_black_14_chat-open{background-position:-84px 0}
.sprite_icon_black_14_chat-popout{background-position:-98px 0}
.sprite_icon_black_14_arrow-down{background-position:-112px 0}
.sprite_icon_black_14_arrow-left{background-position:-126px 0}
.sprite_icon_black_14_arrow-right{background-position:-140px 0}
.sprite_icon_black_14_arrow-up{background-position:-154px 0}
.sprite_icon_black_14_attach{background-position:-168px 0}
.sprite_icon_black_14_brush{background-position:-182px 0}
.sprite_icon_black_14_bundle{background-position:-196px 0}
.sprite_icon_black_14_camera{background-position:-210px 0}
.sprite_icon_black_14_cancel{background-position:-224px 0}
.sprite_icon_black_14_cart{background-position:-238px 0}
.sprite_icon_black_14_chart{background-position:-252px 0}
.sprite_icon_black_14_close{background-position:-266px 0}
.sprite_icon_black_14_download{background-position:-280px 0}
.sprite_icon_black_14_gear{background-position:-294px 0}
.sprite_icon_black_14_gears{background-position:-308px 0}
.sprite_icon_black_14_globe{background-position:-322px 0}
.sprite_icon_black_14_hand{background-position:-336px 0}
.sprite_icon_black_14_headphone{background-position:-350px 0}
.sprite_icon_black_14_info{background-position:-364px 0}
.sprite_icon_black_14_key{background-position:-378px 0}
.sprite_icon_black_14_light{background-position:-392px 0}
.sprite_icon_black_14_link{background-position:-406px 0}
.sprite_icon_black_14_lock{background-position:-420px 0}
.sprite_icon_black_14_male{background-position:-434px 0}
.sprite_icon_black_14_music{background-position:-448px 0}
.sprite_icon_black_14_next{background-position:-462px 0}
.sprite_icon_black_14_ok{background-position:-476px 0}
.sprite_icon_black_14_pen{background-position:-490px 0}
.sprite_icon_black_14_pen2{background-position:-504px 0}
.sprite_icon_black_14_play{background-position:-518px 0}
.sprite_icon_black_14_plus{background-position:-532px 0}
.sprite_icon_black_14_pointer{background-position:-546px 0}
.sprite_icon_black_14_previous{background-position:-560px 0}
.sprite_icon_black_14_question{background-position:-574px 0}
.sprite_icon_black_14_quote{background-position:-588px 0}
.sprite_icon_black_14_record{background-position:-602px 0}
.sprite_icon_black_14_redo{background-position:-616px 0}
.sprite_icon_black_14_refresh{background-position:-630px 0}
.sprite_icon_black_14_ring{background-position:-644px 0}
.sprite_icon_black_14_rss{background-position:-658px 0}
.sprite_icon_black_14_search{background-position:-672px 0}
.sprite_icon_black_14_search2{background-position:-686px 0}
.sprite_icon_black_14_settings{background-position:-700px 0}
.sprite_icon_black_14_site{background-position:-714px 0}
.sprite_icon_black_14_star-empty{background-position:-728px 0}
.sprite_icon_black_14_star{background-position:-742px 0}
.sprite_icon_black_14_star2{background-position:-756px 0}
.sprite_icon_black_14_star3{background-position:-770px 0}
.sprite_icon_black_14_stats{background-position:-784px 0}
.sprite_icon_black_14_tag{background-position:-798px 0}
.sprite_icon_black_14_target{background-position:-812px 0}
.sprite_icon_black_14_trash{background-position:-826px 0}
.sprite_icon_black_14_undo{background-position:-840px 0}
.sprite_icon_black_14_upload{background-position:-854px 0}
.sprite_icon_black_14_wizard{background-position:-868px 0}
.sprite_icon_black_14_calendar{background-position:-882px 0}
.sprite_icon_black_14_sb_clone{background-position:-896px 0}
.sprite_icon_black_14_audio{background-position:-910px 0}
.sprite_icon_black_14_bio{background-position:-924px 0}
.sprite_icon_black_14_birthday{background-position:-938px 0}
.sprite_icon_black_14_blog{background-position:-952px 0}
.sprite_icon_black_14_camera2{background-position:-966px 0}
.sprite_icon_black_14_chart_down{background-position:-980px 0}
.sprite_icon_black_14_chart_same{background-position:-994px 0}
.sprite_icon_black_14_chart_up{background-position:-1008px 0}
.sprite_icon_black_14_clock{background-position:-1022px 0}
.sprite_icon_black_14_control{background-position:-1036px 0}
.sprite_icon_black_14_documentation{background-position:-1050px 0}
.sprite_icon_black_14_faq{background-position:-1064px 0}
.sprite_icon_black_14_follow{background-position:-1078px 0}
.sprite_icon_black_14_followers{background-position:-1092px 0}
.sprite_icon_black_14_forum{background-position:-1106px 0}
.sprite_icon_black_14_gallery{background-position:-1120px 0}
.sprite_icon_black_14_group{background-position:-1134px 0}
.sprite_icon_black_14_guestbook{background-position:-1148px 0}
.sprite_icon_black_14_heart{background-position:-1162px 0}
.sprite_icon_black_14_home{background-position:-1176px 0}
.sprite_icon_black_14_influence{background-position:-1190px 0}
.sprite_icon_black_14_location{background-position:-1204px 0}
.sprite_icon_black_14_mail{background-position:-1218px 0}
.sprite_icon_black_14_mention{background-position:-1232px 0}
.sprite_icon_black_14_menu{background-position:-1246px 0}
.sprite_icon_black_14_notifications{background-position:-1260px 0}
.sprite_icon_black_14_online{background-position:-1274px 0}
.sprite_icon_black_14_page{background-position:-1288px 0}
.sprite_icon_black_14_profile{background-position:-1302px 0}
.sprite_icon_black_14_store{background-position:-1316px 0}
.sprite_icon_black_14_trending{background-position:-1330px 0}
.sprite_icon_black_14_video{background-position:-1344px 0}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .sprite_icon_black_14_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrAudioPro_sprite_black_28.png?_v=1492581670') no-repeat top left; height:100%;width:100%;}
  .sprite_icon_black_14_at{background-position:0 0;background-size:1358px 14px}
  .sprite_icon_black_14_chat-close{background-position:-14px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chat-contact{background-position:-28px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chat-contract{background-position:-42px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chat-down{background-position:-56px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chat-expand{background-position:-70px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chat-open{background-position:-84px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chat-popout{background-position:-98px 0;background-size:1358px 14px}
  .sprite_icon_black_14_arrow-down{background-position:-112px 0;background-size:1358px 14px}
  .sprite_icon_black_14_arrow-left{background-position:-126px 0;background-size:1358px 14px}
  .sprite_icon_black_14_arrow-right{background-position:-140px 0;background-size:1358px 14px}
  .sprite_icon_black_14_arrow-up{background-position:-154px 0;background-size:1358px 14px}
  .sprite_icon_black_14_attach{background-position:-168px 0;background-size:1358px 14px}
  .sprite_icon_black_14_brush{background-position:-182px 0;background-size:1358px 14px}
  .sprite_icon_black_14_bundle{background-position:-196px 0;background-size:1358px 14px}
  .sprite_icon_black_14_camera{background-position:-210px 0;background-size:1358px 14px}
  .sprite_icon_black_14_cancel{background-position:-224px 0;background-size:1358px 14px}
  .sprite_icon_black_14_cart{background-position:-238px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chart{background-position:-252px 0;background-size:1358px 14px}
  .sprite_icon_black_14_close{background-position:-266px 0;background-size:1358px 14px}
  .sprite_icon_black_14_download{background-position:-280px 0;background-size:1358px 14px}
  .sprite_icon_black_14_gear{background-position:-294px 0;background-size:1358px 14px}
  .sprite_icon_black_14_gears{background-position:-308px 0;background-size:1358px 14px}
  .sprite_icon_black_14_globe{background-position:-322px 0;background-size:1358px 14px}
  .sprite_icon_black_14_hand{background-position:-336px 0;background-size:1358px 14px}
  .sprite_icon_black_14_headphone{background-position:-350px 0;background-size:1358px 14px}
  .sprite_icon_black_14_info{background-position:-364px 0;background-size:1358px 14px}
  .sprite_icon_black_14_key{background-position:-378px 0;background-size:1358px 14px}
  .sprite_icon_black_14_light{background-position:-392px 0;background-size:1358px 14px}
  .sprite_icon_black_14_link{background-position:-406px 0;background-size:1358px 14px}
  .sprite_icon_black_14_lock{background-position:-420px 0;background-size:1358px 14px}
  .sprite_icon_black_14_male{background-position:-434px 0;background-size:1358px 14px}
  .sprite_icon_black_14_music{background-position:-448px 0;background-size:1358px 14px}
  .sprite_icon_black_14_next{background-position:-462px 0;background-size:1358px 14px}
  .sprite_icon_black_14_ok{background-position:-476px 0;background-size:1358px 14px}
  .sprite_icon_black_14_pen{background-position:-490px 0;background-size:1358px 14px}
  .sprite_icon_black_14_pen2{background-position:-504px 0;background-size:1358px 14px}
  .sprite_icon_black_14_play{background-position:-518px 0;background-size:1358px 14px}
  .sprite_icon_black_14_plus{background-position:-532px 0;background-size:1358px 14px}
  .sprite_icon_black_14_pointer{background-position:-546px 0;background-size:1358px 14px}
  .sprite_icon_black_14_previous{background-position:-560px 0;background-size:1358px 14px}
  .sprite_icon_black_14_question{background-position:-574px 0;background-size:1358px 14px}
  .sprite_icon_black_14_quote{background-position:-588px 0;background-size:1358px 14px}
  .sprite_icon_black_14_record{background-position:-602px 0;background-size:1358px 14px}
  .sprite_icon_black_14_redo{background-position:-616px 0;background-size:1358px 14px}
  .sprite_icon_black_14_refresh{background-position:-630px 0;background-size:1358px 14px}
  .sprite_icon_black_14_ring{background-position:-644px 0;background-size:1358px 14px}
  .sprite_icon_black_14_rss{background-position:-658px 0;background-size:1358px 14px}
  .sprite_icon_black_14_search{background-position:-672px 0;background-size:1358px 14px}
  .sprite_icon_black_14_search2{background-position:-686px 0;background-size:1358px 14px}
  .sprite_icon_black_14_settings{background-position:-700px 0;background-size:1358px 14px}
  .sprite_icon_black_14_site{background-position:-714px 0;background-size:1358px 14px}
  .sprite_icon_black_14_star-empty{background-position:-728px 0;background-size:1358px 14px}
  .sprite_icon_black_14_star{background-position:-742px 0;background-size:1358px 14px}
  .sprite_icon_black_14_star2{background-position:-756px 0;background-size:1358px 14px}
  .sprite_icon_black_14_star3{background-position:-770px 0;background-size:1358px 14px}
  .sprite_icon_black_14_stats{background-position:-784px 0;background-size:1358px 14px}
  .sprite_icon_black_14_tag{background-position:-798px 0;background-size:1358px 14px}
  .sprite_icon_black_14_target{background-position:-812px 0;background-size:1358px 14px}
  .sprite_icon_black_14_trash{background-position:-826px 0;background-size:1358px 14px}
  .sprite_icon_black_14_undo{background-position:-840px 0;background-size:1358px 14px}
  .sprite_icon_black_14_upload{background-position:-854px 0;background-size:1358px 14px}
  .sprite_icon_black_14_wizard{background-position:-868px 0;background-size:1358px 14px}
  .sprite_icon_black_14_calendar{background-position:-882px 0;background-size:1358px 14px}
  .sprite_icon_black_14_sb_clone{background-position:-896px 0;background-size:1358px 14px}
  .sprite_icon_black_14_audio{background-position:-910px 0;background-size:1358px 14px}
  .sprite_icon_black_14_bio{background-position:-924px 0;background-size:1358px 14px}
  .sprite_icon_black_14_birthday{background-position:-938px 0;background-size:1358px 14px}
  .sprite_icon_black_14_blog{background-position:-952px 0;background-size:1358px 14px}
  .sprite_icon_black_14_camera2{background-position:-966px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chart_down{background-position:-980px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chart_same{background-position:-994px 0;background-size:1358px 14px}
  .sprite_icon_black_14_chart_up{background-position:-1008px 0;background-size:1358px 14px}
  .sprite_icon_black_14_clock{background-position:-1022px 0;background-size:1358px 14px}
  .sprite_icon_black_14_control{background-position:-1036px 0;background-size:1358px 14px}
  .sprite_icon_black_14_documentation{background-position:-1050px 0;background-size:1358px 14px}
  .sprite_icon_black_14_faq{background-position:-1064px 0;background-size:1358px 14px}
  .sprite_icon_black_14_follow{background-position:-1078px 0;background-size:1358px 14px}
  .sprite_icon_black_14_followers{background-position:-1092px 0;background-size:1358px 14px}
  .sprite_icon_black_14_forum{background-position:-1106px 0;background-size:1358px 14px}
  .sprite_icon_black_14_gallery{background-position:-1120px 0;background-size:1358px 14px}
  .sprite_icon_black_14_group{background-position:-1134px 0;background-size:1358px 14px}
  .sprite_icon_black_14_guestbook{background-position:-1148px 0;background-size:1358px 14px}
  .sprite_icon_black_14_heart{background-position:-1162px 0;background-size:1358px 14px}
  .sprite_icon_black_14_home{background-position:-1176px 0;background-size:1358px 14px}
  .sprite_icon_black_14_influence{background-position:-1190px 0;background-size:1358px 14px}
  .sprite_icon_black_14_location{background-position:-1204px 0;background-size:1358px 14px}
  .sprite_icon_black_14_mail{background-position:-1218px 0;background-size:1358px 14px}
  .sprite_icon_black_14_mention{background-position:-1232px 0;background-size:1358px 14px}
  .sprite_icon_black_14_menu{background-position:-1246px 0;background-size:1358px 14px}
  .sprite_icon_black_14_notifications{background-position:-1260px 0;background-size:1358px 14px}
  .sprite_icon_black_14_online{background-position:-1274px 0;background-size:1358px 14px}
  .sprite_icon_black_14_page{background-position:-1288px 0;background-size:1358px 14px}
  .sprite_icon_black_14_profile{background-position:-1302px 0;background-size:1358px 14px}
  .sprite_icon_black_14_store{background-position:-1316px 0;background-size:1358px 14px}
  .sprite_icon_black_14_trending{background-position:-1330px 0;background-size:1358px 14px}
  .sprite_icon_black_14_video{background-position:-1344px 0;background-size:1358px 14px}
}
