.sprite_icon_black_30{display:inline-block;width:30px;height:30px;}
.sprite_icon_black_30_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrAudioPro_sprite_black_30.png?_v=1492549683') no-repeat top left; height:100%;width:100%;}
.sprite_icon_black_30_at{background-position:0 0}
.sprite_icon_black_30_chat-close{background-position:-30px 0}
.sprite_icon_black_30_chat-contact{background-position:-60px 0}
.sprite_icon_black_30_chat-contract{background-position:-90px 0}
.sprite_icon_black_30_chat-down{background-position:-120px 0}
.sprite_icon_black_30_chat-expand{background-position:-150px 0}
.sprite_icon_black_30_chat-open{background-position:-180px 0}
.sprite_icon_black_30_chat-popout{background-position:-210px 0}
.sprite_icon_black_30_arrow-down{background-position:-240px 0}
.sprite_icon_black_30_arrow-left{background-position:-270px 0}
.sprite_icon_black_30_arrow-right{background-position:-300px 0}
.sprite_icon_black_30_arrow-up{background-position:-330px 0}
.sprite_icon_black_30_attach{background-position:-360px 0}
.sprite_icon_black_30_brush{background-position:-390px 0}
.sprite_icon_black_30_bundle{background-position:-420px 0}
.sprite_icon_black_30_camera{background-position:-450px 0}
.sprite_icon_black_30_cancel{background-position:-480px 0}
.sprite_icon_black_30_cart{background-position:-510px 0}
.sprite_icon_black_30_chart{background-position:-540px 0}
.sprite_icon_black_30_close{background-position:-570px 0}
.sprite_icon_black_30_download{background-position:-600px 0}
.sprite_icon_black_30_gear{background-position:-630px 0}
.sprite_icon_black_30_gears{background-position:-660px 0}
.sprite_icon_black_30_globe{background-position:-690px 0}
.sprite_icon_black_30_hand{background-position:-720px 0}
.sprite_icon_black_30_headphone{background-position:-750px 0}
.sprite_icon_black_30_info{background-position:-780px 0}
.sprite_icon_black_30_key{background-position:-810px 0}
.sprite_icon_black_30_light{background-position:-840px 0}
.sprite_icon_black_30_link{background-position:-870px 0}
.sprite_icon_black_30_lock{background-position:-900px 0}
.sprite_icon_black_30_male{background-position:-930px 0}
.sprite_icon_black_30_music{background-position:-960px 0}
.sprite_icon_black_30_next{background-position:-990px 0}
.sprite_icon_black_30_ok{background-position:-1020px 0}
.sprite_icon_black_30_pen{background-position:-1050px 0}
.sprite_icon_black_30_pen2{background-position:-1080px 0}
.sprite_icon_black_30_play{background-position:-1110px 0}
.sprite_icon_black_30_plus{background-position:-1140px 0}
.sprite_icon_black_30_pointer{background-position:-1170px 0}
.sprite_icon_black_30_previous{background-position:-1200px 0}
.sprite_icon_black_30_question{background-position:-1230px 0}
.sprite_icon_black_30_quote{background-position:-1260px 0}
.sprite_icon_black_30_record{background-position:-1290px 0}
.sprite_icon_black_30_redo{background-position:-1320px 0}
.sprite_icon_black_30_refresh{background-position:-1350px 0}
.sprite_icon_black_30_ring{background-position:-1380px 0}
.sprite_icon_black_30_rss{background-position:-1410px 0}
.sprite_icon_black_30_search{background-position:-1440px 0}
.sprite_icon_black_30_search2{background-position:-1470px 0}
.sprite_icon_black_30_settings{background-position:-1500px 0}
.sprite_icon_black_30_site{background-position:-1530px 0}
.sprite_icon_black_30_star-empty{background-position:-1560px 0}
.sprite_icon_black_30_star{background-position:-1590px 0}
.sprite_icon_black_30_star2{background-position:-1620px 0}
.sprite_icon_black_30_star3{background-position:-1650px 0}
.sprite_icon_black_30_stats{background-position:-1680px 0}
.sprite_icon_black_30_tag{background-position:-1710px 0}
.sprite_icon_black_30_target{background-position:-1740px 0}
.sprite_icon_black_30_trash{background-position:-1770px 0}
.sprite_icon_black_30_undo{background-position:-1800px 0}
.sprite_icon_black_30_upload{background-position:-1830px 0}
.sprite_icon_black_30_wizard{background-position:-1860px 0}
.sprite_icon_black_30_calendar{background-position:-1890px 0}
.sprite_icon_black_30_sb_clone{background-position:-1920px 0}
.sprite_icon_black_30_audio{background-position:-1950px 0}
.sprite_icon_black_30_bio{background-position:-1980px 0}
.sprite_icon_black_30_birthday{background-position:-2010px 0}
.sprite_icon_black_30_blog{background-position:-2040px 0}
.sprite_icon_black_30_camera2{background-position:-2070px 0}
.sprite_icon_black_30_chart_down{background-position:-2100px 0}
.sprite_icon_black_30_chart_same{background-position:-2130px 0}
.sprite_icon_black_30_chart_up{background-position:-2160px 0}
.sprite_icon_black_30_clock{background-position:-2190px 0}
.sprite_icon_black_30_control{background-position:-2220px 0}
.sprite_icon_black_30_documentation{background-position:-2250px 0}
.sprite_icon_black_30_faq{background-position:-2280px 0}
.sprite_icon_black_30_follow{background-position:-2310px 0}
.sprite_icon_black_30_followers{background-position:-2340px 0}
.sprite_icon_black_30_forum{background-position:-2370px 0}
.sprite_icon_black_30_gallery{background-position:-2400px 0}
.sprite_icon_black_30_group{background-position:-2430px 0}
.sprite_icon_black_30_guestbook{background-position:-2460px 0}
.sprite_icon_black_30_heart{background-position:-2490px 0}
.sprite_icon_black_30_home{background-position:-2520px 0}
.sprite_icon_black_30_influence{background-position:-2550px 0}
.sprite_icon_black_30_location{background-position:-2580px 0}
.sprite_icon_black_30_mail{background-position:-2610px 0}
.sprite_icon_black_30_mention{background-position:-2640px 0}
.sprite_icon_black_30_menu{background-position:-2670px 0}
.sprite_icon_black_30_notifications{background-position:-2700px 0}
.sprite_icon_black_30_online{background-position:-2730px 0}
.sprite_icon_black_30_page{background-position:-2760px 0}
.sprite_icon_black_30_profile{background-position:-2790px 0}
.sprite_icon_black_30_store{background-position:-2820px 0}
.sprite_icon_black_30_trending{background-position:-2850px 0}
.sprite_icon_black_30_video{background-position:-2880px 0}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .sprite_icon_black_30_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrAudioPro_sprite_black_60.png?_v=1492549683') no-repeat top left; height:100%;width:100%;}
  .sprite_icon_black_30_at{background-position:0 0;background-size:2910px 30px}
  .sprite_icon_black_30_chat-close{background-position:-30px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chat-contact{background-position:-60px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chat-contract{background-position:-90px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chat-down{background-position:-120px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chat-expand{background-position:-150px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chat-open{background-position:-180px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chat-popout{background-position:-210px 0;background-size:2910px 30px}
  .sprite_icon_black_30_arrow-down{background-position:-240px 0;background-size:2910px 30px}
  .sprite_icon_black_30_arrow-left{background-position:-270px 0;background-size:2910px 30px}
  .sprite_icon_black_30_arrow-right{background-position:-300px 0;background-size:2910px 30px}
  .sprite_icon_black_30_arrow-up{background-position:-330px 0;background-size:2910px 30px}
  .sprite_icon_black_30_attach{background-position:-360px 0;background-size:2910px 30px}
  .sprite_icon_black_30_brush{background-position:-390px 0;background-size:2910px 30px}
  .sprite_icon_black_30_bundle{background-position:-420px 0;background-size:2910px 30px}
  .sprite_icon_black_30_camera{background-position:-450px 0;background-size:2910px 30px}
  .sprite_icon_black_30_cancel{background-position:-480px 0;background-size:2910px 30px}
  .sprite_icon_black_30_cart{background-position:-510px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chart{background-position:-540px 0;background-size:2910px 30px}
  .sprite_icon_black_30_close{background-position:-570px 0;background-size:2910px 30px}
  .sprite_icon_black_30_download{background-position:-600px 0;background-size:2910px 30px}
  .sprite_icon_black_30_gear{background-position:-630px 0;background-size:2910px 30px}
  .sprite_icon_black_30_gears{background-position:-660px 0;background-size:2910px 30px}
  .sprite_icon_black_30_globe{background-position:-690px 0;background-size:2910px 30px}
  .sprite_icon_black_30_hand{background-position:-720px 0;background-size:2910px 30px}
  .sprite_icon_black_30_headphone{background-position:-750px 0;background-size:2910px 30px}
  .sprite_icon_black_30_info{background-position:-780px 0;background-size:2910px 30px}
  .sprite_icon_black_30_key{background-position:-810px 0;background-size:2910px 30px}
  .sprite_icon_black_30_light{background-position:-840px 0;background-size:2910px 30px}
  .sprite_icon_black_30_link{background-position:-870px 0;background-size:2910px 30px}
  .sprite_icon_black_30_lock{background-position:-900px 0;background-size:2910px 30px}
  .sprite_icon_black_30_male{background-position:-930px 0;background-size:2910px 30px}
  .sprite_icon_black_30_music{background-position:-960px 0;background-size:2910px 30px}
  .sprite_icon_black_30_next{background-position:-990px 0;background-size:2910px 30px}
  .sprite_icon_black_30_ok{background-position:-1020px 0;background-size:2910px 30px}
  .sprite_icon_black_30_pen{background-position:-1050px 0;background-size:2910px 30px}
  .sprite_icon_black_30_pen2{background-position:-1080px 0;background-size:2910px 30px}
  .sprite_icon_black_30_play{background-position:-1110px 0;background-size:2910px 30px}
  .sprite_icon_black_30_plus{background-position:-1140px 0;background-size:2910px 30px}
  .sprite_icon_black_30_pointer{background-position:-1170px 0;background-size:2910px 30px}
  .sprite_icon_black_30_previous{background-position:-1200px 0;background-size:2910px 30px}
  .sprite_icon_black_30_question{background-position:-1230px 0;background-size:2910px 30px}
  .sprite_icon_black_30_quote{background-position:-1260px 0;background-size:2910px 30px}
  .sprite_icon_black_30_record{background-position:-1290px 0;background-size:2910px 30px}
  .sprite_icon_black_30_redo{background-position:-1320px 0;background-size:2910px 30px}
  .sprite_icon_black_30_refresh{background-position:-1350px 0;background-size:2910px 30px}
  .sprite_icon_black_30_ring{background-position:-1380px 0;background-size:2910px 30px}
  .sprite_icon_black_30_rss{background-position:-1410px 0;background-size:2910px 30px}
  .sprite_icon_black_30_search{background-position:-1440px 0;background-size:2910px 30px}
  .sprite_icon_black_30_search2{background-position:-1470px 0;background-size:2910px 30px}
  .sprite_icon_black_30_settings{background-position:-1500px 0;background-size:2910px 30px}
  .sprite_icon_black_30_site{background-position:-1530px 0;background-size:2910px 30px}
  .sprite_icon_black_30_star-empty{background-position:-1560px 0;background-size:2910px 30px}
  .sprite_icon_black_30_star{background-position:-1590px 0;background-size:2910px 30px}
  .sprite_icon_black_30_star2{background-position:-1620px 0;background-size:2910px 30px}
  .sprite_icon_black_30_star3{background-position:-1650px 0;background-size:2910px 30px}
  .sprite_icon_black_30_stats{background-position:-1680px 0;background-size:2910px 30px}
  .sprite_icon_black_30_tag{background-position:-1710px 0;background-size:2910px 30px}
  .sprite_icon_black_30_target{background-position:-1740px 0;background-size:2910px 30px}
  .sprite_icon_black_30_trash{background-position:-1770px 0;background-size:2910px 30px}
  .sprite_icon_black_30_undo{background-position:-1800px 0;background-size:2910px 30px}
  .sprite_icon_black_30_upload{background-position:-1830px 0;background-size:2910px 30px}
  .sprite_icon_black_30_wizard{background-position:-1860px 0;background-size:2910px 30px}
  .sprite_icon_black_30_calendar{background-position:-1890px 0;background-size:2910px 30px}
  .sprite_icon_black_30_sb_clone{background-position:-1920px 0;background-size:2910px 30px}
  .sprite_icon_black_30_audio{background-position:-1950px 0;background-size:2910px 30px}
  .sprite_icon_black_30_bio{background-position:-1980px 0;background-size:2910px 30px}
  .sprite_icon_black_30_birthday{background-position:-2010px 0;background-size:2910px 30px}
  .sprite_icon_black_30_blog{background-position:-2040px 0;background-size:2910px 30px}
  .sprite_icon_black_30_camera2{background-position:-2070px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chart_down{background-position:-2100px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chart_same{background-position:-2130px 0;background-size:2910px 30px}
  .sprite_icon_black_30_chart_up{background-position:-2160px 0;background-size:2910px 30px}
  .sprite_icon_black_30_clock{background-position:-2190px 0;background-size:2910px 30px}
  .sprite_icon_black_30_control{background-position:-2220px 0;background-size:2910px 30px}
  .sprite_icon_black_30_documentation{background-position:-2250px 0;background-size:2910px 30px}
  .sprite_icon_black_30_faq{background-position:-2280px 0;background-size:2910px 30px}
  .sprite_icon_black_30_follow{background-position:-2310px 0;background-size:2910px 30px}
  .sprite_icon_black_30_followers{background-position:-2340px 0;background-size:2910px 30px}
  .sprite_icon_black_30_forum{background-position:-2370px 0;background-size:2910px 30px}
  .sprite_icon_black_30_gallery{background-position:-2400px 0;background-size:2910px 30px}
  .sprite_icon_black_30_group{background-position:-2430px 0;background-size:2910px 30px}
  .sprite_icon_black_30_guestbook{background-position:-2460px 0;background-size:2910px 30px}
  .sprite_icon_black_30_heart{background-position:-2490px 0;background-size:2910px 30px}
  .sprite_icon_black_30_home{background-position:-2520px 0;background-size:2910px 30px}
  .sprite_icon_black_30_influence{background-position:-2550px 0;background-size:2910px 30px}
  .sprite_icon_black_30_location{background-position:-2580px 0;background-size:2910px 30px}
  .sprite_icon_black_30_mail{background-position:-2610px 0;background-size:2910px 30px}
  .sprite_icon_black_30_mention{background-position:-2640px 0;background-size:2910px 30px}
  .sprite_icon_black_30_menu{background-position:-2670px 0;background-size:2910px 30px}
  .sprite_icon_black_30_notifications{background-position:-2700px 0;background-size:2910px 30px}
  .sprite_icon_black_30_online{background-position:-2730px 0;background-size:2910px 30px}
  .sprite_icon_black_30_page{background-position:-2760px 0;background-size:2910px 30px}
  .sprite_icon_black_30_profile{background-position:-2790px 0;background-size:2910px 30px}
  .sprite_icon_black_30_store{background-position:-2820px 0;background-size:2910px 30px}
  .sprite_icon_black_30_trending{background-position:-2850px 0;background-size:2910px 30px}
  .sprite_icon_black_30_video{background-position:-2880px 0;background-size:2910px 30px}
}
