.sprite_icon_black_25{display:inline-block;width:25px;height:25px;}
.sprite_icon_black_25_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrElastic2_sprite_black_25.png?_v=1492485187') no-repeat top left; height:100%;width:100%;}
.sprite_icon_black_25_at{background-position:0 0}
.sprite_icon_black_25_chat-close{background-position:-25px 0}
.sprite_icon_black_25_chat-contact{background-position:-50px 0}
.sprite_icon_black_25_chat-contract{background-position:-75px 0}
.sprite_icon_black_25_chat-down{background-position:-100px 0}
.sprite_icon_black_25_chat-expand{background-position:-125px 0}
.sprite_icon_black_25_chat-open{background-position:-150px 0}
.sprite_icon_black_25_chat-popout{background-position:-175px 0}
.sprite_icon_black_25_arrow-down{background-position:-200px 0}
.sprite_icon_black_25_arrow-left{background-position:-225px 0}
.sprite_icon_black_25_arrow-right{background-position:-250px 0}
.sprite_icon_black_25_arrow-up{background-position:-275px 0}
.sprite_icon_black_25_attach{background-position:-300px 0}
.sprite_icon_black_25_brush{background-position:-325px 0}
.sprite_icon_black_25_bundle{background-position:-350px 0}
.sprite_icon_black_25_camera{background-position:-375px 0}
.sprite_icon_black_25_cancel{background-position:-400px 0}
.sprite_icon_black_25_cart{background-position:-425px 0}
.sprite_icon_black_25_chart{background-position:-450px 0}
.sprite_icon_black_25_close{background-position:-475px 0}
.sprite_icon_black_25_download{background-position:-500px 0}
.sprite_icon_black_25_gear{background-position:-525px 0}
.sprite_icon_black_25_gears{background-position:-550px 0}
.sprite_icon_black_25_globe{background-position:-575px 0}
.sprite_icon_black_25_hand{background-position:-600px 0}
.sprite_icon_black_25_headphone{background-position:-625px 0}
.sprite_icon_black_25_info{background-position:-650px 0}
.sprite_icon_black_25_key{background-position:-675px 0}
.sprite_icon_black_25_light{background-position:-700px 0}
.sprite_icon_black_25_link{background-position:-725px 0}
.sprite_icon_black_25_lock{background-position:-750px 0}
.sprite_icon_black_25_male{background-position:-775px 0}
.sprite_icon_black_25_music{background-position:-800px 0}
.sprite_icon_black_25_next{background-position:-825px 0}
.sprite_icon_black_25_ok{background-position:-850px 0}
.sprite_icon_black_25_pen{background-position:-875px 0}
.sprite_icon_black_25_pen2{background-position:-900px 0}
.sprite_icon_black_25_play{background-position:-925px 0}
.sprite_icon_black_25_plus{background-position:-950px 0}
.sprite_icon_black_25_pointer{background-position:-975px 0}
.sprite_icon_black_25_previous{background-position:-1000px 0}
.sprite_icon_black_25_question{background-position:-1025px 0}
.sprite_icon_black_25_quote{background-position:-1050px 0}
.sprite_icon_black_25_record{background-position:-1075px 0}
.sprite_icon_black_25_redo{background-position:-1100px 0}
.sprite_icon_black_25_refresh{background-position:-1125px 0}
.sprite_icon_black_25_ring{background-position:-1150px 0}
.sprite_icon_black_25_rss{background-position:-1175px 0}
.sprite_icon_black_25_search{background-position:-1200px 0}
.sprite_icon_black_25_search2{background-position:-1225px 0}
.sprite_icon_black_25_settings{background-position:-1250px 0}
.sprite_icon_black_25_site{background-position:-1275px 0}
.sprite_icon_black_25_star-empty{background-position:-1300px 0}
.sprite_icon_black_25_star{background-position:-1325px 0}
.sprite_icon_black_25_star2{background-position:-1350px 0}
.sprite_icon_black_25_star3{background-position:-1375px 0}
.sprite_icon_black_25_stats{background-position:-1400px 0}
.sprite_icon_black_25_tag{background-position:-1425px 0}
.sprite_icon_black_25_target{background-position:-1450px 0}
.sprite_icon_black_25_trash{background-position:-1475px 0}
.sprite_icon_black_25_undo{background-position:-1500px 0}
.sprite_icon_black_25_upload{background-position:-1525px 0}
.sprite_icon_black_25_wizard{background-position:-1550px 0}
.sprite_icon_black_25_sb_clone{background-position:-1575px 0}
.sprite_icon_black_25_audio{background-position:-1600px 0}
.sprite_icon_black_25_bio{background-position:-1625px 0}
.sprite_icon_black_25_birthday{background-position:-1650px 0}
.sprite_icon_black_25_blog{background-position:-1675px 0}
.sprite_icon_black_25_calendar{background-position:-1700px 0}
.sprite_icon_black_25_camera2{background-position:-1725px 0}
.sprite_icon_black_25_clock{background-position:-1750px 0}
.sprite_icon_black_25_control{background-position:-1775px 0}
.sprite_icon_black_25_documentation{background-position:-1800px 0}
.sprite_icon_black_25_faq{background-position:-1825px 0}
.sprite_icon_black_25_follow{background-position:-1850px 0}
.sprite_icon_black_25_followers{background-position:-1875px 0}
.sprite_icon_black_25_forum{background-position:-1900px 0}
.sprite_icon_black_25_gallery{background-position:-1925px 0}
.sprite_icon_black_25_group{background-position:-1950px 0}
.sprite_icon_black_25_guestbook{background-position:-1975px 0}
.sprite_icon_black_25_heart{background-position:-2000px 0}
.sprite_icon_black_25_home{background-position:-2025px 0}
.sprite_icon_black_25_influence{background-position:-2050px 0}
.sprite_icon_black_25_location{background-position:-2075px 0}
.sprite_icon_black_25_mail{background-position:-2100px 0}
.sprite_icon_black_25_mention{background-position:-2125px 0}
.sprite_icon_black_25_menu{background-position:-2150px 0}
.sprite_icon_black_25_notifications{background-position:-2175px 0}
.sprite_icon_black_25_online{background-position:-2200px 0}
.sprite_icon_black_25_page{background-position:-2225px 0}
.sprite_icon_black_25_profile{background-position:-2250px 0}
.sprite_icon_black_25_store{background-position:-2275px 0}
.sprite_icon_black_25_trending{background-position:-2300px 0}
.sprite_icon_black_25_video{background-position:-2325px 0}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .sprite_icon_black_25_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrElastic2_sprite_black_50.png?_v=1492485187') no-repeat top left; height:100%;width:100%;}
  .sprite_icon_black_25_at{background-position:0 0;background-size:2350px 25px}
  .sprite_icon_black_25_chat-close{background-position:-25px 0;background-size:2350px 25px}
  .sprite_icon_black_25_chat-contact{background-position:-50px 0;background-size:2350px 25px}
  .sprite_icon_black_25_chat-contract{background-position:-75px 0;background-size:2350px 25px}
  .sprite_icon_black_25_chat-down{background-position:-100px 0;background-size:2350px 25px}
  .sprite_icon_black_25_chat-expand{background-position:-125px 0;background-size:2350px 25px}
  .sprite_icon_black_25_chat-open{background-position:-150px 0;background-size:2350px 25px}
  .sprite_icon_black_25_chat-popout{background-position:-175px 0;background-size:2350px 25px}
  .sprite_icon_black_25_arrow-down{background-position:-200px 0;background-size:2350px 25px}
  .sprite_icon_black_25_arrow-left{background-position:-225px 0;background-size:2350px 25px}
  .sprite_icon_black_25_arrow-right{background-position:-250px 0;background-size:2350px 25px}
  .sprite_icon_black_25_arrow-up{background-position:-275px 0;background-size:2350px 25px}
  .sprite_icon_black_25_attach{background-position:-300px 0;background-size:2350px 25px}
  .sprite_icon_black_25_brush{background-position:-325px 0;background-size:2350px 25px}
  .sprite_icon_black_25_bundle{background-position:-350px 0;background-size:2350px 25px}
  .sprite_icon_black_25_camera{background-position:-375px 0;background-size:2350px 25px}
  .sprite_icon_black_25_cancel{background-position:-400px 0;background-size:2350px 25px}
  .sprite_icon_black_25_cart{background-position:-425px 0;background-size:2350px 25px}
  .sprite_icon_black_25_chart{background-position:-450px 0;background-size:2350px 25px}
  .sprite_icon_black_25_close{background-position:-475px 0;background-size:2350px 25px}
  .sprite_icon_black_25_download{background-position:-500px 0;background-size:2350px 25px}
  .sprite_icon_black_25_gear{background-position:-525px 0;background-size:2350px 25px}
  .sprite_icon_black_25_gears{background-position:-550px 0;background-size:2350px 25px}
  .sprite_icon_black_25_globe{background-position:-575px 0;background-size:2350px 25px}
  .sprite_icon_black_25_hand{background-position:-600px 0;background-size:2350px 25px}
  .sprite_icon_black_25_headphone{background-position:-625px 0;background-size:2350px 25px}
  .sprite_icon_black_25_info{background-position:-650px 0;background-size:2350px 25px}
  .sprite_icon_black_25_key{background-position:-675px 0;background-size:2350px 25px}
  .sprite_icon_black_25_light{background-position:-700px 0;background-size:2350px 25px}
  .sprite_icon_black_25_link{background-position:-725px 0;background-size:2350px 25px}
  .sprite_icon_black_25_lock{background-position:-750px 0;background-size:2350px 25px}
  .sprite_icon_black_25_male{background-position:-775px 0;background-size:2350px 25px}
  .sprite_icon_black_25_music{background-position:-800px 0;background-size:2350px 25px}
  .sprite_icon_black_25_next{background-position:-825px 0;background-size:2350px 25px}
  .sprite_icon_black_25_ok{background-position:-850px 0;background-size:2350px 25px}
  .sprite_icon_black_25_pen{background-position:-875px 0;background-size:2350px 25px}
  .sprite_icon_black_25_pen2{background-position:-900px 0;background-size:2350px 25px}
  .sprite_icon_black_25_play{background-position:-925px 0;background-size:2350px 25px}
  .sprite_icon_black_25_plus{background-position:-950px 0;background-size:2350px 25px}
  .sprite_icon_black_25_pointer{background-position:-975px 0;background-size:2350px 25px}
  .sprite_icon_black_25_previous{background-position:-1000px 0;background-size:2350px 25px}
  .sprite_icon_black_25_question{background-position:-1025px 0;background-size:2350px 25px}
  .sprite_icon_black_25_quote{background-position:-1050px 0;background-size:2350px 25px}
  .sprite_icon_black_25_record{background-position:-1075px 0;background-size:2350px 25px}
  .sprite_icon_black_25_redo{background-position:-1100px 0;background-size:2350px 25px}
  .sprite_icon_black_25_refresh{background-position:-1125px 0;background-size:2350px 25px}
  .sprite_icon_black_25_ring{background-position:-1150px 0;background-size:2350px 25px}
  .sprite_icon_black_25_rss{background-position:-1175px 0;background-size:2350px 25px}
  .sprite_icon_black_25_search{background-position:-1200px 0;background-size:2350px 25px}
  .sprite_icon_black_25_search2{background-position:-1225px 0;background-size:2350px 25px}
  .sprite_icon_black_25_settings{background-position:-1250px 0;background-size:2350px 25px}
  .sprite_icon_black_25_site{background-position:-1275px 0;background-size:2350px 25px}
  .sprite_icon_black_25_star-empty{background-position:-1300px 0;background-size:2350px 25px}
  .sprite_icon_black_25_star{background-position:-1325px 0;background-size:2350px 25px}
  .sprite_icon_black_25_star2{background-position:-1350px 0;background-size:2350px 25px}
  .sprite_icon_black_25_star3{background-position:-1375px 0;background-size:2350px 25px}
  .sprite_icon_black_25_stats{background-position:-1400px 0;background-size:2350px 25px}
  .sprite_icon_black_25_tag{background-position:-1425px 0;background-size:2350px 25px}
  .sprite_icon_black_25_target{background-position:-1450px 0;background-size:2350px 25px}
  .sprite_icon_black_25_trash{background-position:-1475px 0;background-size:2350px 25px}
  .sprite_icon_black_25_undo{background-position:-1500px 0;background-size:2350px 25px}
  .sprite_icon_black_25_upload{background-position:-1525px 0;background-size:2350px 25px}
  .sprite_icon_black_25_wizard{background-position:-1550px 0;background-size:2350px 25px}
  .sprite_icon_black_25_sb_clone{background-position:-1575px 0;background-size:2350px 25px}
  .sprite_icon_black_25_audio{background-position:-1600px 0;background-size:2350px 25px}
  .sprite_icon_black_25_bio{background-position:-1625px 0;background-size:2350px 25px}
  .sprite_icon_black_25_birthday{background-position:-1650px 0;background-size:2350px 25px}
  .sprite_icon_black_25_blog{background-position:-1675px 0;background-size:2350px 25px}
  .sprite_icon_black_25_calendar{background-position:-1700px 0;background-size:2350px 25px}
  .sprite_icon_black_25_camera2{background-position:-1725px 0;background-size:2350px 25px}
  .sprite_icon_black_25_clock{background-position:-1750px 0;background-size:2350px 25px}
  .sprite_icon_black_25_control{background-position:-1775px 0;background-size:2350px 25px}
  .sprite_icon_black_25_documentation{background-position:-1800px 0;background-size:2350px 25px}
  .sprite_icon_black_25_faq{background-position:-1825px 0;background-size:2350px 25px}
  .sprite_icon_black_25_follow{background-position:-1850px 0;background-size:2350px 25px}
  .sprite_icon_black_25_followers{background-position:-1875px 0;background-size:2350px 25px}
  .sprite_icon_black_25_forum{background-position:-1900px 0;background-size:2350px 25px}
  .sprite_icon_black_25_gallery{background-position:-1925px 0;background-size:2350px 25px}
  .sprite_icon_black_25_group{background-position:-1950px 0;background-size:2350px 25px}
  .sprite_icon_black_25_guestbook{background-position:-1975px 0;background-size:2350px 25px}
  .sprite_icon_black_25_heart{background-position:-2000px 0;background-size:2350px 25px}
  .sprite_icon_black_25_home{background-position:-2025px 0;background-size:2350px 25px}
  .sprite_icon_black_25_influence{background-position:-2050px 0;background-size:2350px 25px}
  .sprite_icon_black_25_location{background-position:-2075px 0;background-size:2350px 25px}
  .sprite_icon_black_25_mail{background-position:-2100px 0;background-size:2350px 25px}
  .sprite_icon_black_25_mention{background-position:-2125px 0;background-size:2350px 25px}
  .sprite_icon_black_25_menu{background-position:-2150px 0;background-size:2350px 25px}
  .sprite_icon_black_25_notifications{background-position:-2175px 0;background-size:2350px 25px}
  .sprite_icon_black_25_online{background-position:-2200px 0;background-size:2350px 25px}
  .sprite_icon_black_25_page{background-position:-2225px 0;background-size:2350px 25px}
  .sprite_icon_black_25_profile{background-position:-2250px 0;background-size:2350px 25px}
  .sprite_icon_black_25_store{background-position:-2275px 0;background-size:2350px 25px}
  .sprite_icon_black_25_trending{background-position:-2300px 0;background-size:2350px 25px}
  .sprite_icon_black_25_video{background-position:-2325px 0;background-size:2350px 25px}
}
