.sprite_icon_white_20{display:inline-block;width:20px;height:20px;}
.sprite_icon_white_20_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrMaestro_sprite_white_20.png?_v=1492549449') no-repeat top left; height:100%;width:100%;}
.sprite_icon_white_20_at{background-position:0 0}
.sprite_icon_white_20_chat-close{background-position:-20px 0}
.sprite_icon_white_20_chat-contact{background-position:-40px 0}
.sprite_icon_white_20_chat-contract{background-position:-60px 0}
.sprite_icon_white_20_chat-down{background-position:-80px 0}
.sprite_icon_white_20_chat-expand{background-position:-100px 0}
.sprite_icon_white_20_chat-open{background-position:-120px 0}
.sprite_icon_white_20_chat-popout{background-position:-140px 0}
.sprite_icon_white_20_arrow-down{background-position:-160px 0}
.sprite_icon_white_20_arrow-left{background-position:-180px 0}
.sprite_icon_white_20_arrow-right{background-position:-200px 0}
.sprite_icon_white_20_arrow-up{background-position:-220px 0}
.sprite_icon_white_20_attach{background-position:-240px 0}
.sprite_icon_white_20_brush{background-position:-260px 0}
.sprite_icon_white_20_bundle{background-position:-280px 0}
.sprite_icon_white_20_camera{background-position:-300px 0}
.sprite_icon_white_20_cancel{background-position:-320px 0}
.sprite_icon_white_20_cart{background-position:-340px 0}
.sprite_icon_white_20_chart{background-position:-360px 0}
.sprite_icon_white_20_close{background-position:-380px 0}
.sprite_icon_white_20_download{background-position:-400px 0}
.sprite_icon_white_20_gear{background-position:-420px 0}
.sprite_icon_white_20_gears{background-position:-440px 0}
.sprite_icon_white_20_globe{background-position:-460px 0}
.sprite_icon_white_20_hand{background-position:-480px 0}
.sprite_icon_white_20_headphone{background-position:-500px 0}
.sprite_icon_white_20_info{background-position:-520px 0}
.sprite_icon_white_20_key{background-position:-540px 0}
.sprite_icon_white_20_light{background-position:-560px 0}
.sprite_icon_white_20_link{background-position:-580px 0}
.sprite_icon_white_20_lock{background-position:-600px 0}
.sprite_icon_white_20_male{background-position:-620px 0}
.sprite_icon_white_20_music{background-position:-640px 0}
.sprite_icon_white_20_next{background-position:-660px 0}
.sprite_icon_white_20_ok{background-position:-680px 0}
.sprite_icon_white_20_pen{background-position:-700px 0}
.sprite_icon_white_20_pen2{background-position:-720px 0}
.sprite_icon_white_20_play{background-position:-740px 0}
.sprite_icon_white_20_plus{background-position:-760px 0}
.sprite_icon_white_20_pointer{background-position:-780px 0}
.sprite_icon_white_20_previous{background-position:-800px 0}
.sprite_icon_white_20_question{background-position:-820px 0}
.sprite_icon_white_20_quote{background-position:-840px 0}
.sprite_icon_white_20_record{background-position:-860px 0}
.sprite_icon_white_20_redo{background-position:-880px 0}
.sprite_icon_white_20_refresh{background-position:-900px 0}
.sprite_icon_white_20_ring{background-position:-920px 0}
.sprite_icon_white_20_rss{background-position:-940px 0}
.sprite_icon_white_20_search{background-position:-960px 0}
.sprite_icon_white_20_search2{background-position:-980px 0}
.sprite_icon_white_20_settings{background-position:-1000px 0}
.sprite_icon_white_20_site{background-position:-1020px 0}
.sprite_icon_white_20_star-empty{background-position:-1040px 0}
.sprite_icon_white_20_star{background-position:-1060px 0}
.sprite_icon_white_20_star2{background-position:-1080px 0}
.sprite_icon_white_20_star3{background-position:-1100px 0}
.sprite_icon_white_20_stats{background-position:-1120px 0}
.sprite_icon_white_20_tag{background-position:-1140px 0}
.sprite_icon_white_20_target{background-position:-1160px 0}
.sprite_icon_white_20_trash{background-position:-1180px 0}
.sprite_icon_white_20_undo{background-position:-1200px 0}
.sprite_icon_white_20_upload{background-position:-1220px 0}
.sprite_icon_white_20_wizard{background-position:-1240px 0}
.sprite_icon_white_20_calendar{background-position:-1260px 0}
.sprite_icon_white_20_sb_clone{background-position:-1280px 0}
.sprite_icon_white_20_audio{background-position:-1300px 0}
.sprite_icon_white_20_bio{background-position:-1320px 0}
.sprite_icon_white_20_birthday{background-position:-1340px 0}
.sprite_icon_white_20_blog{background-position:-1360px 0}
.sprite_icon_white_20_camera2{background-position:-1380px 0}
.sprite_icon_white_20_clock{background-position:-1400px 0}
.sprite_icon_white_20_control{background-position:-1420px 0}
.sprite_icon_white_20_documentation{background-position:-1440px 0}
.sprite_icon_white_20_faq{background-position:-1460px 0}
.sprite_icon_white_20_follow{background-position:-1480px 0}
.sprite_icon_white_20_followers{background-position:-1500px 0}
.sprite_icon_white_20_forum{background-position:-1520px 0}
.sprite_icon_white_20_gallery{background-position:-1540px 0}
.sprite_icon_white_20_group{background-position:-1560px 0}
.sprite_icon_white_20_guestbook{background-position:-1580px 0}
.sprite_icon_white_20_heart{background-position:-1600px 0}
.sprite_icon_white_20_home{background-position:-1620px 0}
.sprite_icon_white_20_influence{background-position:-1640px 0}
.sprite_icon_white_20_location{background-position:-1660px 0}
.sprite_icon_white_20_mail{background-position:-1680px 0}
.sprite_icon_white_20_mention{background-position:-1700px 0}
.sprite_icon_white_20_menu{background-position:-1720px 0}
.sprite_icon_white_20_notifications{background-position:-1740px 0}
.sprite_icon_white_20_online{background-position:-1760px 0}
.sprite_icon_white_20_page{background-position:-1780px 0}
.sprite_icon_white_20_profile{background-position:-1800px 0}
.sprite_icon_white_20_store{background-position:-1820px 0}
.sprite_icon_white_20_trending{background-position:-1840px 0}
.sprite_icon_white_20_video{background-position:-1860px 0}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .sprite_icon_white_20_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrMaestro_sprite_white_40.png?_v=1492549449') no-repeat top left; height:100%;width:100%;}
  .sprite_icon_white_20_at{background-position:0 0;background-size:1880px 20px}
  .sprite_icon_white_20_chat-close{background-position:-20px 0;background-size:1880px 20px}
  .sprite_icon_white_20_chat-contact{background-position:-40px 0;background-size:1880px 20px}
  .sprite_icon_white_20_chat-contract{background-position:-60px 0;background-size:1880px 20px}
  .sprite_icon_white_20_chat-down{background-position:-80px 0;background-size:1880px 20px}
  .sprite_icon_white_20_chat-expand{background-position:-100px 0;background-size:1880px 20px}
  .sprite_icon_white_20_chat-open{background-position:-120px 0;background-size:1880px 20px}
  .sprite_icon_white_20_chat-popout{background-position:-140px 0;background-size:1880px 20px}
  .sprite_icon_white_20_arrow-down{background-position:-160px 0;background-size:1880px 20px}
  .sprite_icon_white_20_arrow-left{background-position:-180px 0;background-size:1880px 20px}
  .sprite_icon_white_20_arrow-right{background-position:-200px 0;background-size:1880px 20px}
  .sprite_icon_white_20_arrow-up{background-position:-220px 0;background-size:1880px 20px}
  .sprite_icon_white_20_attach{background-position:-240px 0;background-size:1880px 20px}
  .sprite_icon_white_20_brush{background-position:-260px 0;background-size:1880px 20px}
  .sprite_icon_white_20_bundle{background-position:-280px 0;background-size:1880px 20px}
  .sprite_icon_white_20_camera{background-position:-300px 0;background-size:1880px 20px}
  .sprite_icon_white_20_cancel{background-position:-320px 0;background-size:1880px 20px}
  .sprite_icon_white_20_cart{background-position:-340px 0;background-size:1880px 20px}
  .sprite_icon_white_20_chart{background-position:-360px 0;background-size:1880px 20px}
  .sprite_icon_white_20_close{background-position:-380px 0;background-size:1880px 20px}
  .sprite_icon_white_20_download{background-position:-400px 0;background-size:1880px 20px}
  .sprite_icon_white_20_gear{background-position:-420px 0;background-size:1880px 20px}
  .sprite_icon_white_20_gears{background-position:-440px 0;background-size:1880px 20px}
  .sprite_icon_white_20_globe{background-position:-460px 0;background-size:1880px 20px}
  .sprite_icon_white_20_hand{background-position:-480px 0;background-size:1880px 20px}
  .sprite_icon_white_20_headphone{background-position:-500px 0;background-size:1880px 20px}
  .sprite_icon_white_20_info{background-position:-520px 0;background-size:1880px 20px}
  .sprite_icon_white_20_key{background-position:-540px 0;background-size:1880px 20px}
  .sprite_icon_white_20_light{background-position:-560px 0;background-size:1880px 20px}
  .sprite_icon_white_20_link{background-position:-580px 0;background-size:1880px 20px}
  .sprite_icon_white_20_lock{background-position:-600px 0;background-size:1880px 20px}
  .sprite_icon_white_20_male{background-position:-620px 0;background-size:1880px 20px}
  .sprite_icon_white_20_music{background-position:-640px 0;background-size:1880px 20px}
  .sprite_icon_white_20_next{background-position:-660px 0;background-size:1880px 20px}
  .sprite_icon_white_20_ok{background-position:-680px 0;background-size:1880px 20px}
  .sprite_icon_white_20_pen{background-position:-700px 0;background-size:1880px 20px}
  .sprite_icon_white_20_pen2{background-position:-720px 0;background-size:1880px 20px}
  .sprite_icon_white_20_play{background-position:-740px 0;background-size:1880px 20px}
  .sprite_icon_white_20_plus{background-position:-760px 0;background-size:1880px 20px}
  .sprite_icon_white_20_pointer{background-position:-780px 0;background-size:1880px 20px}
  .sprite_icon_white_20_previous{background-position:-800px 0;background-size:1880px 20px}
  .sprite_icon_white_20_question{background-position:-820px 0;background-size:1880px 20px}
  .sprite_icon_white_20_quote{background-position:-840px 0;background-size:1880px 20px}
  .sprite_icon_white_20_record{background-position:-860px 0;background-size:1880px 20px}
  .sprite_icon_white_20_redo{background-position:-880px 0;background-size:1880px 20px}
  .sprite_icon_white_20_refresh{background-position:-900px 0;background-size:1880px 20px}
  .sprite_icon_white_20_ring{background-position:-920px 0;background-size:1880px 20px}
  .sprite_icon_white_20_rss{background-position:-940px 0;background-size:1880px 20px}
  .sprite_icon_white_20_search{background-position:-960px 0;background-size:1880px 20px}
  .sprite_icon_white_20_search2{background-position:-980px 0;background-size:1880px 20px}
  .sprite_icon_white_20_settings{background-position:-1000px 0;background-size:1880px 20px}
  .sprite_icon_white_20_site{background-position:-1020px 0;background-size:1880px 20px}
  .sprite_icon_white_20_star-empty{background-position:-1040px 0;background-size:1880px 20px}
  .sprite_icon_white_20_star{background-position:-1060px 0;background-size:1880px 20px}
  .sprite_icon_white_20_star2{background-position:-1080px 0;background-size:1880px 20px}
  .sprite_icon_white_20_star3{background-position:-1100px 0;background-size:1880px 20px}
  .sprite_icon_white_20_stats{background-position:-1120px 0;background-size:1880px 20px}
  .sprite_icon_white_20_tag{background-position:-1140px 0;background-size:1880px 20px}
  .sprite_icon_white_20_target{background-position:-1160px 0;background-size:1880px 20px}
  .sprite_icon_white_20_trash{background-position:-1180px 0;background-size:1880px 20px}
  .sprite_icon_white_20_undo{background-position:-1200px 0;background-size:1880px 20px}
  .sprite_icon_white_20_upload{background-position:-1220px 0;background-size:1880px 20px}
  .sprite_icon_white_20_wizard{background-position:-1240px 0;background-size:1880px 20px}
  .sprite_icon_white_20_calendar{background-position:-1260px 0;background-size:1880px 20px}
  .sprite_icon_white_20_sb_clone{background-position:-1280px 0;background-size:1880px 20px}
  .sprite_icon_white_20_audio{background-position:-1300px 0;background-size:1880px 20px}
  .sprite_icon_white_20_bio{background-position:-1320px 0;background-size:1880px 20px}
  .sprite_icon_white_20_birthday{background-position:-1340px 0;background-size:1880px 20px}
  .sprite_icon_white_20_blog{background-position:-1360px 0;background-size:1880px 20px}
  .sprite_icon_white_20_camera2{background-position:-1380px 0;background-size:1880px 20px}
  .sprite_icon_white_20_clock{background-position:-1400px 0;background-size:1880px 20px}
  .sprite_icon_white_20_control{background-position:-1420px 0;background-size:1880px 20px}
  .sprite_icon_white_20_documentation{background-position:-1440px 0;background-size:1880px 20px}
  .sprite_icon_white_20_faq{background-position:-1460px 0;background-size:1880px 20px}
  .sprite_icon_white_20_follow{background-position:-1480px 0;background-size:1880px 20px}
  .sprite_icon_white_20_followers{background-position:-1500px 0;background-size:1880px 20px}
  .sprite_icon_white_20_forum{background-position:-1520px 0;background-size:1880px 20px}
  .sprite_icon_white_20_gallery{background-position:-1540px 0;background-size:1880px 20px}
  .sprite_icon_white_20_group{background-position:-1560px 0;background-size:1880px 20px}
  .sprite_icon_white_20_guestbook{background-position:-1580px 0;background-size:1880px 20px}
  .sprite_icon_white_20_heart{background-position:-1600px 0;background-size:1880px 20px}
  .sprite_icon_white_20_home{background-position:-1620px 0;background-size:1880px 20px}
  .sprite_icon_white_20_influence{background-position:-1640px 0;background-size:1880px 20px}
  .sprite_icon_white_20_location{background-position:-1660px 0;background-size:1880px 20px}
  .sprite_icon_white_20_mail{background-position:-1680px 0;background-size:1880px 20px}
  .sprite_icon_white_20_mention{background-position:-1700px 0;background-size:1880px 20px}
  .sprite_icon_white_20_menu{background-position:-1720px 0;background-size:1880px 20px}
  .sprite_icon_white_20_notifications{background-position:-1740px 0;background-size:1880px 20px}
  .sprite_icon_white_20_online{background-position:-1760px 0;background-size:1880px 20px}
  .sprite_icon_white_20_page{background-position:-1780px 0;background-size:1880px 20px}
  .sprite_icon_white_20_profile{background-position:-1800px 0;background-size:1880px 20px}
  .sprite_icon_white_20_store{background-position:-1820px 0;background-size:1880px 20px}
  .sprite_icon_white_20_trending{background-position:-1840px 0;background-size:1880px 20px}
  .sprite_icon_white_20_video{background-position:-1860px 0;background-size:1880px 20px}
}
