.sprite_icon_ffffff_24{display:inline-block;width:24px;height:24px;}
.sprite_icon_ffffff_24_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrMogul_sprite_ffffff_24.png?_v=1492549557') no-repeat top left; height:100%;width:100%;}
.sprite_icon_ffffff_24_at{background-position:0 0}
.sprite_icon_ffffff_24_chat-close{background-position:-24px 0}
.sprite_icon_ffffff_24_chat-contact{background-position:-48px 0}
.sprite_icon_ffffff_24_chat-contract{background-position:-72px 0}
.sprite_icon_ffffff_24_chat-down{background-position:-96px 0}
.sprite_icon_ffffff_24_chat-expand{background-position:-120px 0}
.sprite_icon_ffffff_24_chat-open{background-position:-144px 0}
.sprite_icon_ffffff_24_chat-popout{background-position:-168px 0}
.sprite_icon_ffffff_24_arrow-down{background-position:-192px 0}
.sprite_icon_ffffff_24_arrow-left{background-position:-216px 0}
.sprite_icon_ffffff_24_arrow-right{background-position:-240px 0}
.sprite_icon_ffffff_24_arrow-up{background-position:-264px 0}
.sprite_icon_ffffff_24_attach{background-position:-288px 0}
.sprite_icon_ffffff_24_brush{background-position:-312px 0}
.sprite_icon_ffffff_24_bundle{background-position:-336px 0}
.sprite_icon_ffffff_24_camera{background-position:-360px 0}
.sprite_icon_ffffff_24_cancel{background-position:-384px 0}
.sprite_icon_ffffff_24_cart{background-position:-408px 0}
.sprite_icon_ffffff_24_chart{background-position:-432px 0}
.sprite_icon_ffffff_24_close{background-position:-456px 0}
.sprite_icon_ffffff_24_download{background-position:-480px 0}
.sprite_icon_ffffff_24_gear{background-position:-504px 0}
.sprite_icon_ffffff_24_gears{background-position:-528px 0}
.sprite_icon_ffffff_24_globe{background-position:-552px 0}
.sprite_icon_ffffff_24_hand{background-position:-576px 0}
.sprite_icon_ffffff_24_headphone{background-position:-600px 0}
.sprite_icon_ffffff_24_info{background-position:-624px 0}
.sprite_icon_ffffff_24_key{background-position:-648px 0}
.sprite_icon_ffffff_24_light{background-position:-672px 0}
.sprite_icon_ffffff_24_link{background-position:-696px 0}
.sprite_icon_ffffff_24_lock{background-position:-720px 0}
.sprite_icon_ffffff_24_male{background-position:-744px 0}
.sprite_icon_ffffff_24_music{background-position:-768px 0}
.sprite_icon_ffffff_24_next{background-position:-792px 0}
.sprite_icon_ffffff_24_ok{background-position:-816px 0}
.sprite_icon_ffffff_24_pen{background-position:-840px 0}
.sprite_icon_ffffff_24_pen2{background-position:-864px 0}
.sprite_icon_ffffff_24_play{background-position:-888px 0}
.sprite_icon_ffffff_24_plus{background-position:-912px 0}
.sprite_icon_ffffff_24_pointer{background-position:-936px 0}
.sprite_icon_ffffff_24_previous{background-position:-960px 0}
.sprite_icon_ffffff_24_question{background-position:-984px 0}
.sprite_icon_ffffff_24_quote{background-position:-1008px 0}
.sprite_icon_ffffff_24_record{background-position:-1032px 0}
.sprite_icon_ffffff_24_redo{background-position:-1056px 0}
.sprite_icon_ffffff_24_refresh{background-position:-1080px 0}
.sprite_icon_ffffff_24_ring{background-position:-1104px 0}
.sprite_icon_ffffff_24_rss{background-position:-1128px 0}
.sprite_icon_ffffff_24_search{background-position:-1152px 0}
.sprite_icon_ffffff_24_search2{background-position:-1176px 0}
.sprite_icon_ffffff_24_settings{background-position:-1200px 0}
.sprite_icon_ffffff_24_site{background-position:-1224px 0}
.sprite_icon_ffffff_24_star-empty{background-position:-1248px 0}
.sprite_icon_ffffff_24_star{background-position:-1272px 0}
.sprite_icon_ffffff_24_star2{background-position:-1296px 0}
.sprite_icon_ffffff_24_star3{background-position:-1320px 0}
.sprite_icon_ffffff_24_stats{background-position:-1344px 0}
.sprite_icon_ffffff_24_tag{background-position:-1368px 0}
.sprite_icon_ffffff_24_target{background-position:-1392px 0}
.sprite_icon_ffffff_24_trash{background-position:-1416px 0}
.sprite_icon_ffffff_24_undo{background-position:-1440px 0}
.sprite_icon_ffffff_24_upload{background-position:-1464px 0}
.sprite_icon_ffffff_24_wizard{background-position:-1488px 0}
.sprite_icon_ffffff_24_calendar{background-position:-1512px 0}
.sprite_icon_ffffff_24_sb_clone{background-position:-1536px 0}
.sprite_icon_ffffff_24_audio{background-position:-1560px 0}
.sprite_icon_ffffff_24_bio{background-position:-1584px 0}
.sprite_icon_ffffff_24_birthday{background-position:-1608px 0}
.sprite_icon_ffffff_24_blog{background-position:-1632px 0}
.sprite_icon_ffffff_24_camera2{background-position:-1656px 0}
.sprite_icon_ffffff_24_clock{background-position:-1680px 0}
.sprite_icon_ffffff_24_control{background-position:-1704px 0}
.sprite_icon_ffffff_24_documentation{background-position:-1728px 0}
.sprite_icon_ffffff_24_faq{background-position:-1752px 0}
.sprite_icon_ffffff_24_follow{background-position:-1776px 0}
.sprite_icon_ffffff_24_followers{background-position:-1800px 0}
.sprite_icon_ffffff_24_forum{background-position:-1824px 0}
.sprite_icon_ffffff_24_gallery{background-position:-1848px 0}
.sprite_icon_ffffff_24_group{background-position:-1872px 0}
.sprite_icon_ffffff_24_guestbook{background-position:-1896px 0}
.sprite_icon_ffffff_24_heart{background-position:-1920px 0}
.sprite_icon_ffffff_24_home{background-position:-1944px 0}
.sprite_icon_ffffff_24_influence{background-position:-1968px 0}
.sprite_icon_ffffff_24_location{background-position:-1992px 0}
.sprite_icon_ffffff_24_mail{background-position:-2016px 0}
.sprite_icon_ffffff_24_mention{background-position:-2040px 0}
.sprite_icon_ffffff_24_menu{background-position:-2064px 0}
.sprite_icon_ffffff_24_notifications{background-position:-2088px 0}
.sprite_icon_ffffff_24_online{background-position:-2112px 0}
.sprite_icon_ffffff_24_page{background-position:-2136px 0}
.sprite_icon_ffffff_24_profile{background-position:-2160px 0}
.sprite_icon_ffffff_24_store{background-position:-2184px 0}
.sprite_icon_ffffff_24_trending{background-position:-2208px 0}
.sprite_icon_ffffff_24_video{background-position:-2232px 0}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .sprite_icon_ffffff_24_img{background:url('//mf6.paradigmusic.com/data/media/0/0/jrMogul_sprite_ffffff_48.png?_v=1492549557') no-repeat top left; height:100%;width:100%;}
  .sprite_icon_ffffff_24_at{background-position:0 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chat-close{background-position:-24px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chat-contact{background-position:-48px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chat-contract{background-position:-72px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chat-down{background-position:-96px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chat-expand{background-position:-120px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chat-open{background-position:-144px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chat-popout{background-position:-168px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_arrow-down{background-position:-192px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_arrow-left{background-position:-216px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_arrow-right{background-position:-240px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_arrow-up{background-position:-264px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_attach{background-position:-288px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_brush{background-position:-312px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_bundle{background-position:-336px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_camera{background-position:-360px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_cancel{background-position:-384px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_cart{background-position:-408px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_chart{background-position:-432px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_close{background-position:-456px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_download{background-position:-480px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_gear{background-position:-504px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_gears{background-position:-528px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_globe{background-position:-552px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_hand{background-position:-576px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_headphone{background-position:-600px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_info{background-position:-624px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_key{background-position:-648px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_light{background-position:-672px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_link{background-position:-696px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_lock{background-position:-720px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_male{background-position:-744px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_music{background-position:-768px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_next{background-position:-792px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_ok{background-position:-816px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_pen{background-position:-840px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_pen2{background-position:-864px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_play{background-position:-888px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_plus{background-position:-912px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_pointer{background-position:-936px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_previous{background-position:-960px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_question{background-position:-984px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_quote{background-position:-1008px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_record{background-position:-1032px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_redo{background-position:-1056px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_refresh{background-position:-1080px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_ring{background-position:-1104px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_rss{background-position:-1128px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_search{background-position:-1152px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_search2{background-position:-1176px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_settings{background-position:-1200px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_site{background-position:-1224px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_star-empty{background-position:-1248px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_star{background-position:-1272px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_star2{background-position:-1296px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_star3{background-position:-1320px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_stats{background-position:-1344px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_tag{background-position:-1368px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_target{background-position:-1392px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_trash{background-position:-1416px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_undo{background-position:-1440px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_upload{background-position:-1464px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_wizard{background-position:-1488px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_calendar{background-position:-1512px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_sb_clone{background-position:-1536px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_audio{background-position:-1560px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_bio{background-position:-1584px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_birthday{background-position:-1608px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_blog{background-position:-1632px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_camera2{background-position:-1656px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_clock{background-position:-1680px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_control{background-position:-1704px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_documentation{background-position:-1728px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_faq{background-position:-1752px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_follow{background-position:-1776px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_followers{background-position:-1800px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_forum{background-position:-1824px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_gallery{background-position:-1848px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_group{background-position:-1872px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_guestbook{background-position:-1896px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_heart{background-position:-1920px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_home{background-position:-1944px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_influence{background-position:-1968px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_location{background-position:-1992px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_mail{background-position:-2016px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_mention{background-position:-2040px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_menu{background-position:-2064px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_notifications{background-position:-2088px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_online{background-position:-2112px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_page{background-position:-2136px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_profile{background-position:-2160px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_store{background-position:-2184px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_trending{background-position:-2208px 0;background-size:2256px 24px}
  .sprite_icon_ffffff_24_video{background-position:-2232px 0;background-size:2256px 24px}
}
