/* @title Modal Overlay */
/* @help The background overlay for the Modal window */
#simplemodal-overlay {
    background-color: #000000;
    cursor: wait;
}

/* @title Modal Window */
/* @help The Modal window */
#modal_window {
    background-color: #FFFFFF;
    overflow: auto;
    padding: 10px;
}

/* @title Modal Updates */
/* @help The Modal window updates */
#modal_updates {
    font-family: Monaco, "Courier New", Courier, monospace;
    color: #000000;
    font-size: 11px;
    padding: 8px;
    margin-left: 12px;
    overflow: auto;
}

/* @title Modal Spinner */
/* @help The Modal window loading image */
#modal_spinner {
    vertical-align: middle;
    margin-right: 8px;
}
