/* @title Radio Option */
/* @help Format for Radio form field options */
.form_radio_option {
    display: inline;
    padding-right: 32px;
}

/* @title Textarea */
/* @help Format for Textarea form input fields */
.form_textarea {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 15px;
    width: 75%;
    height: 100px;
    padding: 6px 3px 6px 5px; /* @ignore */
    margin: 0 0 0 4px; /* @ignore */
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

/* @title Textarea Focus */
/* @help Class applied to a textarea field when the field is selected for input. */
textarea:focus {
    background-color: #EEEEEE;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
}

/* @title Checkbox */
/* @help Class applied to a checkbox form field */
.form_checkbox {
    font-size: 16px;
    margin: 3px;
    border-radius: 2px;
}

/* @title Optionlist Text */
/* @help Class applied to the text to the right of an Optionlist entry */
.form_option_list_text {
    font-size: 13px;
}

/* @title Disabled */
/* @help Class applied to a form element when it is disabled */
.form_element_disabled {
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: #FFFFFF;
    color: #AAAAAA;
}

/* @title Code Mirror */
/* @help Overrides Core CodeMirror class */
.CodeMirror {
    background: #FFFFFF;
    padding: 0;
    font-size: 12px;
    border: solid 1px #7F7F7F;
    border-radius: 3px;
    margin-left: 2px;
}

.style-color {
    width: 24px;
    height: 20px;
    margin: 0 8px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.style-color-transparent {
    height: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: #7F7F7F;
}


