/* @title Page Background */
/* @help What color should the background be for the actual page content? */
.page_content {
    background-color: #FFFFFF;
}

.page_custom {
    background: #FFFFFF;
}

/* @title Page Section */
/* @help The Page Section is the small divider that can divide forms into logical groups. */
.page_section_header {
    background-color: #EEEEEE;
    font-size: 14px;
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 6px;
    padding-left: 12px;
    margin: 6px 0; /* @ignore */
}

/* @title Page Divider */
/* @help The small horizontal line or section that can be used to divide large sections of a page */
.page_divider {
    background-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    margin: 9px 0;
}

/* @title Page Spacer */
/* @help The small horizontal space used in some pages */
.page_spacer {
    background-color: #FFFFFF;
    height: 6px;
}

/* @title Page Note */
/* @help If a module has a special &quot;note&quot; that it wants to display, this controls how it looks. */
.page_note {
    background-color: #CCFF99;
    font-size: 14px;
    padding: 9px;
    margin-top: 12px;
    margin-bottom: 9px;
    text-align: center;
}

/* @title Page Search Hilight */
/* @help For options that support searching and hilighting, this is the background color for text matching. */
.page_search_highlight {
    background-color: #F7DD4F;
}
