.form_radio {
}
/* @title Radio Option */
/* @help Format for Radio form field options */
.form_radio_option {
    display:inline;
    padding-right:32px;
}
/* @title Textarea */
/* @help Format for Textarea form input fields */
.form_textarea {
    color:#666;
    font-size:11px;
    width:75%;
    height:100px;
    padding:5px; /* @ignore */
    margin:0 2px; /* @ignore */
    background-color:#FFF;
    border:solid 1px #DEDEDE;
}
/* @title Textarea Focus */
/* @help Class applied to a textarea field when the field is selected for input. */
textarea:focus {
    border:solid 1px #DEDEDE;
    background-color: #F2F2F2;
    color:#222;
}

/* @title Checkbox */
/* @help Class applied to a checkbox form field */
.form_checkbox {
    font-size:16px;
    margin:8px 3px 3px 3px;
}
