#forum_success {
    background-color:#006600;
    color:#CCC;
    padding:6px;
    padding-left:12px;
    border-radius:5px;
    border:1px solid #ccc;
    margin:12px;
}

#forum_notice {
    background-color:#FC0;
    color:#000;
    padding:6px;
    padding-left:12px;
    border-radius:5px;
    border:1px solid #ccc;
    margin-bottom:6px;
}

.forum_post_image {
    display:table-cell;
    width:10%;
    padding:6px;
    vertical-align:top;
    text-align:center;
}
.forum_post_text {
    display:table-cell;
    width:90%;
    padding:6px 12px;
    vertical-align:top;
}

.forum_post_count {
    background:#FFF;
    float:right;
    font-size:14px;
    border:1px solid #DEDEDE;
    border-radius:0;
    padding:6px 12px;
    margin-right:6px;
}
.forum_post_count_new {
    background-color:#F2F2F2;
    border-color:#DEDEDE;
}
.forum_post_count img {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}
.forum_post_pinned {
    border-style:dotted;
    border-width:2px;
}

.forum_new_post_form {
    font-size:16px;
}

.forum_actions {
    position:absolute;
    top:12px;
    right:12px;
    display:none;
}

.forum_locked {
    font-size: 14px;
    font-weight: bold;
    margin:12px 0;
    background-color:#9B1C26;
    border:1px solid #CCCCCC;
    border-radius:4px;
    padding:12px;
    color:#FFF;
}

.forum_post_attachment {
    margin:20px 0;
    background-color:#ccff99;
    border:1px solid #CCCCCC;
    border-radius:4px;
    padding:6px
}

.forum_follow_box {
    position:inherit;
    width:240px;
    text-align:center;
    background-color:#ccff99;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:12px;
    z-index:100;
    overflow:visible;
    box-shadow:0 0 2px #000;
}

#bbcode_help_button input{
    margin: 2px 3px 0 8px;
}

/* BBCode */
.bbcode_url {
}

.bbcode_list_ul {
}

.bbcode_list_ol {
}

.bbcode_code {
    padding:12px;
    background-color:#fff;
    font-family:monospace;
    font-size:12px;
    clear:both;
    border:1px solid #CCC;
    text-transform:none;
}

.bbcode_quote {
    margin-top:6px;
    padding:12px;
    background-color:#EEE;
    font-size:14px;
    font-style:italic;
    border:1px solid #CCC;
}

.bbcode_quote_user {
    font-size:16px;
    font-weight:bold;
}
