/*
 * Jamroom 5 MediaProLight CSS
 * Copyright 2003-2011 by Talldude Networks, LLC.
 * @author Brian Johnson - brian@talldude.net
 */

.separator{
    background:transparent url("{$jrMediaProLight_img_url}/div.gif") center no-repeat;
    text-align:center;
    height:16px;
    width:16px;
    display:inline;
}

.divider{
    height:0;
    border:0;
    border-top:solid 1px #1A1A1A;
}

/* @title Rank */
/* @help This is the ranking number */
.rank {
    background-color:transparent;
    padding:5px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    color:#000;
    text-transform:uppercase;
}

.txt_shadow {text-shadow: 0 2px 3px rgba(0, 0, 0, .5);}
.title {
    color: #666666;
    font-weight: bold;
}
.title_2{
    color: #006699;
    font-weight: bold;
}

/* @title Normal */
/* @help This is the regular body text */
.normal {
	font-size:12px;
    color:#222;
}
.normal a {
    color:#0099FF;
    text-decoration:none;
}
.normal a:hover {
    color:#99CC00;
    text-decoration:none;
}
/* @title Hilited */
/* @help This is the hilite text */
.hl-1 {
	font-weight:bold;
    color:#0099FF;
}
.hl-2, .hl-3, .hl-4 {
    font-weight:bold;
    color: #FF6633;
}

/* @title Media Title */
/* @help This is the Media Title text. */
.media_title {
    text-transform:capitalize;
    display:inline;
    padding:0;
    margin:0;
    color:#222;
    font-weight:bold;
}
/* @title Media Title Link */
/* @help This is the Media Title link text */
.media_title a {
    text-decoration:none;
    color:#0099FF;
}
/* @title Media Title Hover */
/* @help This is the Media Title hover text */
.media_title a:hover {
    text-decoration:underline;
}
/* @title Audio Detail Labels */
/* @help This is the small labels that are shown in the Audio Details box */
.jraudio_title {
    width:110px;
    display:inline-block;
    text-align:right;
}

/* @title Sub Title */
/* @help This is the Sub Title text. */
.sub_title {
    padding:0 0 0 5px;
    vertical-align:middle;
    line-height:24px;
    font-size:12px;
    font-weight:bold;
    text-transform:capitalize;
}
/* @title Sub Title Link */
/* @help This is the Sub Title link text */
.sub_title a {
    text-decoration:none;
    color:#0099FF;
}
/* @title Media Title Hover */
/* @help This is the Media Title hover text */
.sub_title a:hover {
    color:#99CC00;
    text-decoration:none;
}

.event_desc_txt {
    background-color:#F0F0F0;
    margin-left:10px;
    padding:10px;
}
/* fonts */

div.jqcloud {
    font-family:Verdana,Helvetica,Arial,sans-serif;
    font-size: 10px;
    text-transform:capitalize;
    line-height: normal;
}

div.jqcloud a {
    font-size: inherit;
    text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #0099FF; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #99CC00; }
div.jqcloud span.w1 { color: #0099FF; }
div.jqcloud span.w2 { color: #0099FF; }
div.jqcloud span.w3 { color: #0099FF; }
div.jqcloud span.w4 { color: #0099FF; }
div.jqcloud span.w5 { color: #99CC00; }
div.jqcloud span.w6 { color: #99CC00; }
div.jqcloud span.w7 { color: #ff6633; }
div.jqcloud span.w8 { color: #99CC00; }
div.jqcloud span.w9 { color: #99CC00; }
div.jqcloud span.w10 { color: #ff6633; }

/* layout */

div.jqcloud {
    overflow: hidden;
    position: relative;
}

div.jqcloud span { padding: 0; }

.tag_name_box {
    float:left;
    background-color:#F2F2F2;
    border:1px solid #DEDEDE;
    border-radius:0;
    padding:3px 9px;
    margin:6px 6px 0 0;
    font-size:12px;
    text-transform:uppercase;
}
.tag_name_box a {
    color:#0099FF;
    text-decoration:none;
}
.tag_name_box a:hover {
    color:#99CC00;
    text-decoration:none;
}
.tag_name_box:hover {
    background-color:#FFF;
}
#tag_cloud {
    background-color: #333;
    border-radius:0;
}
#tag_cloud:hover {
    background-color: #D9D8D7;
    color:#333;
}
