/* @title Modal Overlay */
/* @help The background overlay for the Modal window */
#simplemodal-overlay {
    background-color:#000000;
    cursor:wait;
}

/* @title Modal Window */
/* @help The Modal window */
#modal_window {
    background-color:#1A1A1A;
    border-width:2px;
    border-style:solid;
    border-color:#222;
    overflow:auto;
}

/* @title Modal Updates */
/* @help The Modal window updates */
#modal_updates {
    color:#FFFFFF;
    font-size:12px;
    padding:8px;
    margin-left:12px;
    overflow:auto;
}

/* @title Modal Spinner */
/* @help The Modal window loading image */
#modal_spinner {
    vertical-align:middle;
    margin-right:8px;
}
