.sprite_icon_ff5500_16{display:inline-block;width:16px;height:16px;}
.sprite_icon_ff5500_16_img{background:url('//mf6.paradigmusic.com/data/cache/kmSuperFans/sprite_ff5500_16.png?_v=1526514941') no-repeat top left; height:100%;width:100%;}
.sprite_icon_ff5500_16_at{background-position:0 0}
.sprite_icon_ff5500_16_chat-close{background-position:-16px 0}
.sprite_icon_ff5500_16_chat-contact{background-position:-32px 0}
.sprite_icon_ff5500_16_chat-contract{background-position:-48px 0}
.sprite_icon_ff5500_16_chat-down{background-position:-64px 0}
.sprite_icon_ff5500_16_chat-expand{background-position:-80px 0}
.sprite_icon_ff5500_16_chat-open{background-position:-96px 0}
.sprite_icon_ff5500_16_chat-popout{background-position:-112px 0}
.sprite_icon_ff5500_16_chat-send{background-position:-128px 0}
.sprite_icon_ff5500_16_arrow-down{background-position:-144px 0}
.sprite_icon_ff5500_16_arrow-left{background-position:-160px 0}
.sprite_icon_ff5500_16_arrow-right{background-position:-176px 0}
.sprite_icon_ff5500_16_arrow-up{background-position:-192px 0}
.sprite_icon_ff5500_16_attach{background-position:-208px 0}
.sprite_icon_ff5500_16_brush{background-position:-224px 0}
.sprite_icon_ff5500_16_bundle{background-position:-240px 0}
.sprite_icon_ff5500_16_camera{background-position:-256px 0}
.sprite_icon_ff5500_16_cancel{background-position:-272px 0}
.sprite_icon_ff5500_16_cart{background-position:-288px 0}
.sprite_icon_ff5500_16_chart{background-position:-304px 0}
.sprite_icon_ff5500_16_close{background-position:-320px 0}
.sprite_icon_ff5500_16_download{background-position:-336px 0}
.sprite_icon_ff5500_16_gear{background-position:-352px 0}
.sprite_icon_ff5500_16_gears{background-position:-368px 0}
.sprite_icon_ff5500_16_globe{background-position:-384px 0}
.sprite_icon_ff5500_16_hand{background-position:-400px 0}
.sprite_icon_ff5500_16_headphone{background-position:-416px 0}
.sprite_icon_ff5500_16_info{background-position:-432px 0}
.sprite_icon_ff5500_16_key{background-position:-448px 0}
.sprite_icon_ff5500_16_light{background-position:-464px 0}
.sprite_icon_ff5500_16_link{background-position:-480px 0}
.sprite_icon_ff5500_16_lock{background-position:-496px 0}
.sprite_icon_ff5500_16_male{background-position:-512px 0}
.sprite_icon_ff5500_16_music{background-position:-528px 0}
.sprite_icon_ff5500_16_next{background-position:-544px 0}
.sprite_icon_ff5500_16_ok{background-position:-560px 0}
.sprite_icon_ff5500_16_pen{background-position:-576px 0}
.sprite_icon_ff5500_16_pen2{background-position:-592px 0}
.sprite_icon_ff5500_16_play{background-position:-608px 0}
.sprite_icon_ff5500_16_plus{background-position:-624px 0}
.sprite_icon_ff5500_16_pointer{background-position:-640px 0}
.sprite_icon_ff5500_16_previous{background-position:-656px 0}
.sprite_icon_ff5500_16_question{background-position:-672px 0}
.sprite_icon_ff5500_16_quote{background-position:-688px 0}
.sprite_icon_ff5500_16_record{background-position:-704px 0}
.sprite_icon_ff5500_16_redo{background-position:-720px 0}
.sprite_icon_ff5500_16_refresh{background-position:-736px 0}
.sprite_icon_ff5500_16_ring{background-position:-752px 0}
.sprite_icon_ff5500_16_rss{background-position:-768px 0}
.sprite_icon_ff5500_16_search{background-position:-784px 0}
.sprite_icon_ff5500_16_search2{background-position:-800px 0}
.sprite_icon_ff5500_16_settings{background-position:-816px 0}
.sprite_icon_ff5500_16_site{background-position:-832px 0}
.sprite_icon_ff5500_16_star-empty{background-position:-848px 0}
.sprite_icon_ff5500_16_star{background-position:-864px 0}
.sprite_icon_ff5500_16_star2{background-position:-880px 0}
.sprite_icon_ff5500_16_star3{background-position:-896px 0}
.sprite_icon_ff5500_16_stats{background-position:-912px 0}
.sprite_icon_ff5500_16_tag{background-position:-928px 0}
.sprite_icon_ff5500_16_target{background-position:-944px 0}
.sprite_icon_ff5500_16_trash{background-position:-960px 0}
.sprite_icon_ff5500_16_undo{background-position:-976px 0}
.sprite_icon_ff5500_16_upload{background-position:-992px 0}
.sprite_icon_ff5500_16_wizard{background-position:-1008px 0}
.sprite_icon_ff5500_16_calendar{background-position:-1024px 0}
.sprite_icon_ff5500_16_payment-cart{background-position:-1040px 0}
.sprite_icon_ff5500_16_sb_clone{background-position:-1056px 0}
.sprite_icon_ff5500_16_audio{background-position:-1072px 0}
.sprite_icon_ff5500_16_bio{background-position:-1088px 0}
.sprite_icon_ff5500_16_birthday{background-position:-1104px 0}
.sprite_icon_ff5500_16_blog{background-position:-1120px 0}
.sprite_icon_ff5500_16_camera2{background-position:-1136px 0}
.sprite_icon_ff5500_16_chart_down{background-position:-1152px 0}
.sprite_icon_ff5500_16_chart_same{background-position:-1168px 0}
.sprite_icon_ff5500_16_chart_up{background-position:-1184px 0}
.sprite_icon_ff5500_16_clock{background-position:-1200px 0}
.sprite_icon_ff5500_16_control{background-position:-1216px 0}
.sprite_icon_ff5500_16_documentation{background-position:-1232px 0}
.sprite_icon_ff5500_16_faq{background-position:-1248px 0}
.sprite_icon_ff5500_16_follow{background-position:-1264px 0}
.sprite_icon_ff5500_16_followers{background-position:-1280px 0}
.sprite_icon_ff5500_16_forum{background-position:-1296px 0}
.sprite_icon_ff5500_16_gallery{background-position:-1312px 0}
.sprite_icon_ff5500_16_group{background-position:-1328px 0}
.sprite_icon_ff5500_16_guestbook{background-position:-1344px 0}
.sprite_icon_ff5500_16_heart{background-position:-1360px 0}
.sprite_icon_ff5500_16_home{background-position:-1376px 0}
.sprite_icon_ff5500_16_influence{background-position:-1392px 0}
.sprite_icon_ff5500_16_location{background-position:-1408px 0}
.sprite_icon_ff5500_16_mail{background-position:-1424px 0}
.sprite_icon_ff5500_16_mention{background-position:-1440px 0}
.sprite_icon_ff5500_16_menu{background-position:-1456px 0}
.sprite_icon_ff5500_16_notifications{background-position:-1472px 0}
.sprite_icon_ff5500_16_online{background-position:-1488px 0}
.sprite_icon_ff5500_16_page{background-position:-1504px 0}
.sprite_icon_ff5500_16_profile{background-position:-1520px 0}
.sprite_icon_ff5500_16_store{background-position:-1536px 0}
.sprite_icon_ff5500_16_trending{background-position:-1552px 0}
.sprite_icon_ff5500_16_video{background-position:-1568px 0}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .sprite_icon_ff5500_16_img{background:url('//mf6.paradigmusic.com/data/cache/kmSuperFans/sprite_ff5500_32.png?_v=1526514941') no-repeat top left; height:100%;width:100%;}
  .sprite_icon_ff5500_16_at{background-position:0 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-close{background-position:-16px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-contact{background-position:-32px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-contract{background-position:-48px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-down{background-position:-64px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-expand{background-position:-80px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-open{background-position:-96px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-popout{background-position:-112px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chat-send{background-position:-128px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_arrow-down{background-position:-144px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_arrow-left{background-position:-160px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_arrow-right{background-position:-176px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_arrow-up{background-position:-192px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_attach{background-position:-208px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_brush{background-position:-224px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_bundle{background-position:-240px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_camera{background-position:-256px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_cancel{background-position:-272px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_cart{background-position:-288px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chart{background-position:-304px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_close{background-position:-320px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_download{background-position:-336px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_gear{background-position:-352px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_gears{background-position:-368px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_globe{background-position:-384px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_hand{background-position:-400px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_headphone{background-position:-416px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_info{background-position:-432px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_key{background-position:-448px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_light{background-position:-464px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_link{background-position:-480px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_lock{background-position:-496px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_male{background-position:-512px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_music{background-position:-528px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_next{background-position:-544px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_ok{background-position:-560px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_pen{background-position:-576px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_pen2{background-position:-592px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_play{background-position:-608px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_plus{background-position:-624px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_pointer{background-position:-640px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_previous{background-position:-656px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_question{background-position:-672px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_quote{background-position:-688px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_record{background-position:-704px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_redo{background-position:-720px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_refresh{background-position:-736px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_ring{background-position:-752px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_rss{background-position:-768px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_search{background-position:-784px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_search2{background-position:-800px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_settings{background-position:-816px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_site{background-position:-832px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_star-empty{background-position:-848px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_star{background-position:-864px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_star2{background-position:-880px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_star3{background-position:-896px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_stats{background-position:-912px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_tag{background-position:-928px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_target{background-position:-944px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_trash{background-position:-960px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_undo{background-position:-976px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_upload{background-position:-992px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_wizard{background-position:-1008px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_calendar{background-position:-1024px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_payment-cart{background-position:-1040px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_sb_clone{background-position:-1056px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_audio{background-position:-1072px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_bio{background-position:-1088px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_birthday{background-position:-1104px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_blog{background-position:-1120px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_camera2{background-position:-1136px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chart_down{background-position:-1152px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chart_same{background-position:-1168px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_chart_up{background-position:-1184px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_clock{background-position:-1200px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_control{background-position:-1216px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_documentation{background-position:-1232px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_faq{background-position:-1248px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_follow{background-position:-1264px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_followers{background-position:-1280px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_forum{background-position:-1296px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_gallery{background-position:-1312px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_group{background-position:-1328px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_guestbook{background-position:-1344px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_heart{background-position:-1360px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_home{background-position:-1376px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_influence{background-position:-1392px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_location{background-position:-1408px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_mail{background-position:-1424px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_mention{background-position:-1440px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_menu{background-position:-1456px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_notifications{background-position:-1472px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_online{background-position:-1488px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_page{background-position:-1504px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_profile{background-position:-1520px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_store{background-position:-1536px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_trending{background-position:-1552px 0;background-size:1584px 16px}
  .sprite_icon_ff5500_16_video{background-position:-1568px 0;background-size:1584px 16px}
}
