/* @title Info Log */
/* @help Background color for Informational (INF) Log entries */
.log-inf {
    background-color: transparent;
    text-align: left;
}

/* @title Minor Log */
/* @help Background color for Minor (MIN) Log entries */
.log-min {
    background-color: #997700;
    text-align: left;
}

/* @title Major Log */
/* @help Background color for Major (MAJ) Log entries */
.log-maj {
    background-color: #FF9900;
    text-align: left;
}

/* @title Critical Log */
/* @help Background color for Critical (CRI) Log entries */
.log-cri {
    background-color: #FF6600;
    text-align: left;
}

/* admin menu */
/* admin menu */
/* admin menu */

#item-holder {
    margin-right: 9px;
}

dd {
    padding-top: 0;
    padding-bottom: 9px;
    margin: 0;
    font-size: 12px;
}

.admin_section_header {
    margin-top: 0;
}

/* @title Menu Row */
/* @help The row for the menu list */
.item-entry {
    border-bottom: 1px solid #eee;
    color: #444;
    display: table-cell;
    font-size: 14px;
    padding: 6px;
    vertical-align: middle;
    width: 100%;
}

.item-row {
    background: white none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: table-row;
    height: 42px;
    width: 100%;
}

/* @title Menu Active Row */
/* @help The active row for the menu list */
.item-row-active {
    background-color: #e1e1e1;
}

.item-row:hover {
    background-color: #eee;
}

/* @title Menu Icon */
/* @help The icon for the menu item */
.item-icon {
    border-bottom: 1px solid #eee;
    display: table-cell;
    padding: 3px;
}

.item-enabled {
    border-bottom: 1px solid #eee;
    display: table-cell;
    padding-right: 6px;
}

/* @title Module Disabled */
/* @help Contents of Small box to the right of a disabled module */
.item-disabled {
    display: table-cell;
    color: #000000;
    background: #AADDFF;
    font-size: 11px;
    padding: 6px;
    border: 0;
}

#item-work {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 2px #ccc;
    margin: 2px;
}

/* @title Banner Background */
/* @help The Banner Background is the background color in the small section at the top of pages where the module icon appears */
.page_banner_box {

}

/* @title Page Banner border */
/* @help The Page Banner border is the border around the section at the top of pages where the module icon appears */

.page_banner {
    margin-bottom: 6px;
    padding-bottom: 3px;
    color: #fff;
    background: #000000 none repeat scroll 0 0;
}

/* @title Page Banner Icon */
/* @help The Page Banner Icon section is the small section at the top of pages where the module icon appears */
.page_banner_icon {
    width: 1%;
    padding: 8px 0 8px 8px; /* @ignore */
}

/* @title Page Banner Title */
/* @help The Title section in the page banner */
.page_banner_left {
    height: 40px;
    text-align: left;
    padding: 6px 18px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    white-space: nowrap;
}

/* @title Page Banner Description */
/* @help The Description section on the right side of the page banner */
.page_banner_right {
    padding: 6px 12px; /* @ignore */
    text-align: right;
}

.form_radio {
}

/* @title Radio Option */
/* @help Format for Radio form field options */
.form_radio_option {
    display: inline;
    padding-right: 32px;
}

/* @title Textarea */
/* @help Format for Textarea form input fields */
.form_text, input[type="text"] {
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0 2px;
    padding: 0 4px;
    width: 72%;
    background-color: #555;
}

/* @title Textarea Focus */
/* @help Class applied to a textarea field when the field is selected for input. */
.form_radio {
}

/* @title Radio Option */
/* @help Format for Radio form field options */
.form_radio_option {
    display: inline;
    padding-right: 32px;
}


/* @title Textarea Focus */
/* @help Class applied to a textarea field when the field is selected for input. */
textarea:focus {
    border: 1px solid #303030;
}

/* @title Checkbox */
/* @help Class applied to a checkbox form field */
.form_checkbox {
    font-size: 16px;
    margin: 3px;
    border-radius: 3px;
}

/* @title Optionlist Text */
/* @help Class applied to the text to the right of an Optionlist entry */
.form_option_list_text {
    font-size: 14px;
}

/* @title Disabled */
/* @help Class applied to a form element when it is disabled */
.form_element_disabled {
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: #FFFFFF;
    color: #AAAAAA;
}

/* @title Code Mirror */
/* @help Overrides Core CodeMirror class */
.CodeMirror {
    background: #FFFFFF;
    padding: 0;
    font-size: 12px;
    border: solid 1px #7F7F7F;
    border-radius: 3px;
    margin-left: 2px;
}

/* @title Date Input */
/* @help Format for Date Input form elements */
.form_date {
    color: #000000;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    width: 15%;
    padding: 0 4px; /* @ignore */
    margin: 0 2px; /* @ignore */
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #7F7F7F;
    border-radius: 3px;
}

/* @title Input Focus */
/* @help Class applied to a text input field when the field is selected for input. */
input[type="text"]:focus, select:focus, textarea:focus {
    border: 1px solid rgba(255, 204, 51, 0.4);
}

.form_text[disabled="disabled"], .form_text[readonly="readonly"] {
    opacity: 0.5;
}

.form_text_search {
    width: 45%;
}

.live_search_text {
    color: #CCCCCC;
    font-style: italic;
}

/* remove Firefox's dotted outlines... */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

form {
    margin-bottom: 0;
}

.element {
}

/* @title Element Left */
/* @help This is the left side of pages and forms where the label and sub-label will appear */
.element_left {
    text-align: right;
    text-transform: capitalize;
    padding: 4px 6px 12px 0;
    width: 23%;
}

.tool_element_left {
    padding: 6px;
}

/* @title Element Right */
/* @help This is the right side of pages and forms where the form elements appear */
.element_right {
    padding: 4px 0 12px 0;
    width: 77%;
}

.tool_element_right {
    padding: 6px;
}

/* @title Element Right URLs */
/* @help This is the color of URLs that might appear on the right side of the form */
.element_right a {
    color: #222222;
}

.form_input_left {
    height: 30px;
}

.form_input_right {
}

.sublabel {
    font-size: 11px;
    text-transform: none;
}

.form_help_button {
    position: absolute;
    top: 5px;
    right: 0;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)) repeat scroll 0 0;
}

/* @title Form Help */
/* @help This is for the help sections for the forms */

.form_help {
    background-color: #d6d7d9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 0 rgba(0, 0, 0, 0.3) inset, 0 2px 0 rgba(255, 255, 255, 0.5);
    padding: 9px;
}

/* @title Form Help Drop */
/* @help This is for the help drop down section for the forms */
.form_help_drop {
    background-color: white;
    box-shadow: 0 0 2px #999;
    padding-top: 8px;
    width: 100%;
}

/* @title Form Help Drop Left */
/* @help This is for the left side help drop down section for the forms */
.form_help_drop_left {
    color: #666;
    font-size: 14px;
    padding: 10px 20px 20px;
    text-align: left;
    text-transform: none;
    width: 95%;
}

/* @title Form Help Drop Right */
/* @help This is for the right side help drop down section for the forms */
.form_help_drop_right {
    width: 5%;
    padding: 10px 20px 20px 20px;
}

.form_help_default {
    display: inline-block;
    margin-top: 12px;
}

/* @title Form Help Small */
/* @help This is for the small help text */
.form_help_small {
    display: inline-block;
    font-size: 9px;
    margin-top: 12px;
    color: #999999;
    font-style: italic;
}

.form_submit_box {
    padding-top: 6px;
}

.form_submit_section {
    padding: 10px;
    text-align: center;
    background: #000000 none repeat scroll 0 0;
}

#form_submit_indicator {
    display: none;
    margin-right: 10px;
    vertical-align: middle;
}

.page_notice_drop {

}

/* @title Form Message Box */
/* @help Form messages will be displayed withing the Form Message box */
.page_notice {
    text-align: center;
    padding: 10px;
    margin: 0 0 6px;
    font-size: 14px;
}

/* @title Form Message Text */
/* @help Formats the message text as shown in the Form Message Box */
.form_notice {
    text-align: center;
    padding: 10px;
    display: none;
}

/* @title Form Notice */
/* @help Background color of Form Notice messages */
.notice {
    background-color: #AADDFF !important;
    color: #000000;
}

/* @title Form Warning */
/* @help Background color of Form Warning messages */
.warning {
    background-color: #FFDD00 !important;
    color: #000000;
}

/* @title Form Error */
/* @help Background color of Form Error messages */
.error {
    background-color: #ad8300 !important;
    color: #fff;
}

/* @title Form Success */
/* @help Background color of Form Success messages */
.success {
    background-color: #151 !important;
    color: #fff;
}

/* @title Field Error */
/* @help Background color of a form field if the contents are in error */
.field-hilight {
    background-color: #FFDD00;
}

/* @title Select */
/* @help Format for the Select form field. */
.form_select {
    border: medium none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #eee;
    font-size: 13px;
    margin: 2px;
    padding: 3px;
    width: 77%;
}

/* @title Select Multiple */
/* @help Format for the Select form field when multiple items can be selected. */
.form_select_multiple {
}

.form_select_and_text_select {
    width: 33%;
    margin-right: 12px;
}

.form_select_and_text_text {
    width: 32%;
}

/* @title Select Jumper */
/* @help Format for the Select Jumper field used in Page Headers */
.form_select_item_jumper {
    width: 250px;
}

.form_admin_search {
    margin: 7px 0;
    font-style: italic;
    color: #AAAAAA;
}

/* @title Time Input */
/* @help Class applied to the Time Select Field */
.form_time {
    margin-left: 12px;
    width: 15%;
    min-width: 95px;
}

optgroup {
    font-style: normal;
}

.accordion a {
    color: #f8c574;
    text-decoration: none;
}

.accordion a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* @title Form Button */
/* @help Format for Form Buttons */

.form_button {
    background: rgba(0, 0, 0, 0) linear-gradient(#888, #555) repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    margin: 1px 2px 3px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: middle;
}

.form_button:disabled {
    cursor: auto;
    opacity: 0.3;
}

/*.form_button:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.03)) repeat scroll 0 0;
}*/

/* @title Follow Button*/
/* @help Override for border-radius on follow button */
.follow_button {
    border-radius: 3px;
}

.form_button_disabled {
    opacity: 0.3;
}

.form_button a, .form_button_anchor a, .form_button_anchor:hover a {
    text-decoration: none;
}

.sprite_icon_hilighted {
    background-color: #FFCC00;
}

/* @title Tables */
/* @help This is the HTML table style */
table {
    width: 100%;
    border-width: 0;
    border-spacing: 0;
}

/* @title Table TD */
/* @help This is the TD tag for tables */
td, th {
    padding: 0;
}

/* @title Table Links */
/* @help This is the color for URL links in a table */
td a {
    color: #269;
}

#page_notice > a {
    color: #58c;
}

/* @title Page Table */
/* @help This is the page table style */
.page_table {
    background-color: #ccc;
    border-spacing: 1px;
    width: 100%;
}

.bigtable {
    border-spacing: 3px;
}

.page_table_header > a {
    color: white;
}

/* @title Page Table Header */
/* @help This is the page header table style */
.page_table_header {
    color: #444;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
}

/* @title Page Table Footer */
/* @help This is the page footer table style */
.page_table_footer {
    background-color: #ccc;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    text-transform: capitalize;
    color: #666;
    white-space: nowrap;
}

/* @title Page Table Row */
/* @help This is the page row table style */
.page_table_row {
    background-color: #f2f2f2;
}

.page_table_row_alt {
    background-color: #f8f8f8;
}

/* @title Page Table Cell */
/* @help This is the page table cell style */
.page_table_cell {
    padding: 5px;
    font-size: 12px;
    color: #444;
}

/* @title Page Table Pager */
/* @help This is the page pagination table style */


/* @title Page Pager Left */
/* @help This is the left pagination cell */
.page_table_pager_left {
    width: 25%;
    padding: 5px;
}

/* @title Page Pager Center */
/* @help This is the center pagination cell */
.page_table_pager_center {
    text-align: center;
    width: 50%;
    padding: 5px;
    font-size: 11px;
}

/* @title Page Pager Right */
/* @help This is the right pagination cell */
.page_table_pager_right {
    text-align: right;
    width: 25%;
    padding: 5px;
}

/* @title Page Pager Jumper */
/* @help This is the page selection drop down */
.page_table_jumper {
    width: 50px;
}

/* @title Page Notice */
/* @help This is the page notice section */
.page_table_notice {
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}

/* @title Page Section */
/* @help The Page Section is the small divider that can divide forms into logical groups. */
.page_section_header {
    background: #eee none repeat scroll 0 0;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    font-variant: small-caps;
    margin: 0 0 9px;
    padding: 6px 6px 6px 18px;
    text-transform: lowercase;
}

.accordion .page_section_header {
    background-color: #111;
    color: white;
}

/* @title Page Divider */
/* @help The small horizontal line or section that can be used to divide large sections of a page */
.page_divider {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
}

/* @title Page Note */
/* @help If a module has a special &quot;note&quot; that it wants to display, this controls how it looks. */
.page_note {
    background-color: #ccff99;
    color: #333;
    font-size: 14px;
    margin-bottom: 9px;
    margin-top: 12px;
    padding: 9px;
    text-align: center;
}

/* @title Page Search Hilight */
/* @help For options that support searching and hilighting, this is the background color for text matching. */
.page_search_highlight {
    background-color: #F7DD4F;
}

/* Tab Bar */
/* @title Tab Bar Holder */
/* @help This is the holder for the tab bar */
.page_tab_bar_holder {
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.page_tab_bar_spacer {
    height: 10px;
}

.page_tab_bar {
    padding-left: 16px;
}

/* @title Page Tab */
/* @help This is the tab for the tab bar */
.page_tab {
    background-color: #111;
    border-radius: 4px 4px 0 0;
    color: #ccc;
    cursor: pointer;
    float: left;
    font-size: 14px;
    list-style: outside none none;
    margin-left: 6px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

/* @title Page Tab Hover */
/* @help This is the tab hover for the tab bar */
.page_tab:hover {
    background-color: #666;
    color: #000000;
    text-decoration: none;
}

/* @title Page Tab Hover Link */
/* @help This is the tab link hover for the tab bar */
.page_tab:hover a {
    color: #FFFFFF;
    text-decoration: none;
}

.page_tab_active {
     color: #000000;
     margin-bottom: -1px;
 }

.page_tab_active:hover {
    border-bottom: 0 none;
    color: #ddd;
    text-decoration: none;
}

.page_tab_active:hover a {
    color: #000000;
    text-decoration: none;
}

.page_tab_active a:hover {
    color: #ddd;
}

/* @title Page Tab Link */
/* @help This is the tab URL link for the tab bar */
.page_tab a {
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.page_tab_first {
    margin-left: 0;
}

.page_tab_last {
}

/* @title Page Tab Active */
/* @help This is the active tab */
.page_tab_hilight {
    background-color: #FFCC00;
    color: #000000;
}

.page_tab_hilight a {
    color: #000000;
}

/* @title Modal Overlay */
/* @help The background overlay for the Modal window */
#simplemodal-overlay {
    background-color: #000000;
    cursor: wait;
}

/* @title Modal Window */
/* @help The Modal window */
#modal_window {
    background-color: #FFFFFF;
    overflow: auto;
    padding: 10px;
}

/* @title Modal Updates */
/* @help The Modal window updates */
#modal_updates {
    color: #ccc;
    font-size: 12px;
    padding: 8px;
    margin-left: 12px;
    overflow: auto;
}

/* @title Modal Spinner */
/* @help The Modal window loading image */
#modal_spinner {
    vertical-align: middle;
    margin-right: 8px;
}

.action_item_desc a {
    color: #999;
}

.action_item_holder {
    border-bottom: 1px solid #333;
}

#wrapper {
    padding: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

#wrapper > div#content {
    margin: 0 auto 0;
}

#content .item-list {
    padding: 1em 0 0;
}

#admin_container.container {
    background: #ccc none repeat scroll 0 0;
    border-radius: 4px;
    padding: 1em;
}

/* @title Site Content */
/* @help This is the main Site Content holder */

#content {
    font-size: 1em;
    height: 100%;
    margin: 0 auto 20px;
    max-width: 1140px;
    min-height: calc(100vh - 260px);
    padding: 66px 0 1em;
}

#content h2 {
    margin: 0;
}

#content .sb-widget-title > h2 {
    font-weight: normal;
    text-transform: uppercase;
}


/* @title block */
/* @help This is the main style for the individual blocks of the page */
.block {
    background-color: transparent;
    padding: 12px;
    margin: 0 auto;
}

.recommend_box {
    background-color: #EDEDED;
    padding: 25px;
    margin: 12px;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    font-size: 16px;
    color: #000000;
}

.recommend_box a {
    color: #336699;
    text-decoration: none;
}

.recommend_box a:hover {
    color: #333;
    text-decoration: underline;
}

.search_box {
    color: #eee;
    font-size: 16px;
    margin: 12px;
    padding: 25px;
    border: none;
    border-radius: 4px;
}

.page_content {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 1px #aaa;
    color: #444;
    padding: 1em;
}

.page_custom > .container {
    background-color: #f3f3f3;
    padding: 1em;
}

.search_box a {
    text-decoration: none;
}

.search_box a:hover {
    color: #333;
    text-decoration: underline;
}

.container {
    margin: 0;
}
.bignum_stat .sprite_icon {
    background: #666 none repeat scroll 0 0;
}

.sb-menu-entry {
    border-radius: 2px;
    color: #000000;
    cursor: move;
    font-size: 15px;
    margin-top: 3px;
    padding: 6px 9px;
    text-transform: capitalize;
    vertical-align: middle;
}

#modal_window {
    background: #111 none repeat scroll 0 0;
}
#modal_updates {
    color: #ccc;
}

.item h2 {
    margin: 0 0 5px;
}

.sb-widget-title {
    font-size: 16px;
}

.sb-widget-col {
    padding: 0 6px;
}

.sb-widget-col.sb-widget-hilight {
    padding: 6px 6px 44px;
}

.form_text, .form_textarea, .form_select {
    background: #555 none repeat scroll 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 2px 0 rgba(255, 255, 255, 0.05);
    color: white;
}

.page_banner_box .page_banner {
    width: 100%;
}

.sb-widget-controls {
    right: 6px;
    top: 6px;
}

.plugin #providers .provider .name {
    color: #aaa;
}
.plugin .footer #branding a span.plugin_title {
    color: #fff;
}

.plugin .footer #branding a {
    color: #ccc;
}

.simplemodal-container .sb-menu-entry {
    background-color: #ccc;
}

.sb-row-button {
    color: #666;
}

.black #debug_log {
    color: white;
}

#sb-edit-cp {
    border-radius: 8px;
}

.widget-template-code {
    background: rgba(100, 150, 205, 0.1) none repeat scroll 0 0;
}

.item.success {
    background-color: #ccff99;
    color: #ccc;
}

textarea {
    border: medium none;
}

.jrform .upload_button {
    line-height: 2.7;
    min-width: 188px;
}

#info_box {
    padding: 0 0 8px;
}

.page_content textarea {
    min-height: 90px;
    width: 77%;
}

.page_content .form_textarea {
    width: 77%;
    min-height: 90px;
}

.form_textarea {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    height: 100px;
}

a.qq-upload-cancel {
    color: black;
}

.center {
    text-align: center;
}

p.waiting {
    padding: 12em 0;
}

.acp-default-img {
    border: medium none;
}

.form_text.form_select_and_text_text {
    width: 30%;
}

.action span.title {
    font-size: 18px;
}

.page_tab.page_tab_active {
    background-color: #933;
}

.sb-menu-entry a {
    color: white;
    cursor: pointer;
}

.bignum_stat_cell {
    color: #666;
}

#module_info a h3 {
    color: white;
    text-align: center;
}

#jrchat_smiley_button {
    top:6px;
    margin-right:3px;
}