/* @title List Row */
/* @help The List Row is the row section for ranking lists */
.list_row, .list_col {
    padding:6px;
    background:#ccc;
    color:#000;
}

/* @title List Image */
/* @help The List Image is for the images in the ranking list */
.list_image {
    padding:6px;
    background:#ccc;
    color:#000;
}
/* @title List Highlight */
/* @help The List Highlight is for the highlighted text in a ranking list */
.list_hl {
    background:#CCC;
    color:#000;
}

/* @title List Item */
/* @help The List Item class is for the content in a  ranking list */
.item {
    background-color:#FFF;
    padding:12px;
    margin:12px auto;
    color:#666;
}
/* @title List Item Link */
/* @help The List Item Link is for the URL links in a  ranking list */
.item a {
    color:#0099FF;
    text-decoration: none;
}
/* @title List Item Link Hover */
/* @help The List Item Link Hover is for the URL links hover effect in a  ranking list */
.item a:hover {
    color:#99CC00;
    text-decoration:none;
}

/* @title Blogpost Link Color */
/* @help The color for links users include in their blog posts */
.blogpost p a {
    color:#0099FF;
    text-decoration:none;
}
.add_to_cart_section {
    display:inline-block;
    background:#CCCCCC;
    border-radius:5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
}
.add_to_cart_price {
    position:relative;
    top:1px;
    left:2px;
    padding:0 10px;
    padding-top:4px;
    color:#111111;
    font-size:11px;
    line-height:14px;
}
.add_to_cart_icon {
    margin:0;
    padding:0;
    cursor:pointer;
}

.cart-section {
    display: inline-block;
    background: #CCCCCC;
    border-radius: 4px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
}

.cart-price {
    position: relative;
    top: 2px;
    left: 2px;
    padding: 0 10px;
    padding-top: 4px;
    color: #111111;
    font-size: 14px;
    line-height: 16px;
}

.strikethrough{
    color: #111;
    text-decoration: line-through;
}
.border-1{
    border:1px solid black;
}
.p5{
    padding:5px;
}
.body-1{
    background-color: #000;
}

span.jp-artist {
    color:#666 !important;
}

div.jp-playlist a {
    color:#0099FF !important;
    font-size: 12px;
}

div.jp-playlist a:hover {
    color:#99CC00 !important;
    text-decoration:none !important;
}
